<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Contact</li>

            <li class="breadcrumb-right">
                <router-link to="/contact/display" class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/contact/create" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit()" type="button" class="btn btn-sm btn-primary" v-show='edit_status'>
                    <i class="fa fa-edit"></i>
                </button>
                <button v-b-modal.card_no type="button" class="btn btn-sm btn-primary">
                    <i class="fa fa-file"></i> Card Update
                </button>
                <button v-show="delete_status" @click="destroy()" type="button" class="btn btn-sm btn-danger" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Customer : 
                                <strong>{{ contact.contact_name}}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row"> 
                                    <div class="col-md-4">
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                               <strong><div class="mb-3"><b>Details:</b></div></strong>
                                                <div> <b> Name  :</b>  {{ contact.contact_name }}</div>
                                                <div> <b> Email :</b> {{ contact.email }}</div>
                                                <div> <b> Phone :</b> {{ contact.mobile_no }}</div>
                                                <div> <b> PAN :</b> {{ contact.pan_no }}</div>
                                                <div> <b> GSTIN : </b> {{ contact.gstin_no }}</div>
                                                <div> <b> Card No : </b> {{ contact.card_no }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                                <div class="mb-3"><b> Billing Address :</b></div>
                                                <div>{{ contact.billing_address }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                                <div class="mb-3"><b> Shipping Address :</b></div>
                                                <div>{{ contact.shipping_address }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="card_no" title="Update Card No" @ok="updateCardNo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <!-- <div class="card-header">
                            <b>Update Card No</b>
                            </div> -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" >
                                            <label for="card_no">Card No </label>
                                            <input class="form-control" :class="{'is-invalid': errors.card_no}" type="text" placeholder="Card No" ref="card_no" v-model="contact.card_no">
                                            <div v-if="errors.card_no" class="invalid-feedback">{{ errors.card_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
        props: ['org','user'],
        data(){
            return{
                contact:{},
                errors:{},
                status: 0,
                delete_status:true,
                edit_status:true,
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`contact/view/${to.params.contact_id}`)
            .then(function (response) {
                next(vm => {
                    if (response.data.contact_id == 1) {
                        vm.$set(vm,'delete_status',false);
                        vm.$set(vm,'edit_status',false);
                    }
                    vm.contact = response.data;                    
                })
            })
        },
        filters: {
			reduceArray(value,field) {
				let a = _.reduce(value,function(sum,val){
			        return parseFloat(sum)+parseFloat(val[field]);
			    },0);
			    let b = parseFloat(a).toFixed(2);
			    return b;
			},
			tofix(value) {
				let a = parseFloat((Math.round(parseFloat(value)*100)/100)).toFixed(2);
    			return a;
			}
		},
        methods:{
            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    axios.post('contact/destroy',this.contact)
                    .then(function (response) {
                        vm.toast("Contact is successfully Deleted","success");
                        vm.$router.push('/contact/display');
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors
                    });
                }
            },

            edit() {
                let vm = this;
                vm.$router.push(`/contact/edit/${vm.contact.contact_id}`);
            },

            view(el,id) {
                let vm = this;
                vm.$router.push(`${'/'+el+'/view/'+id}`);
            },

            create() {
                let vm = this;
                vm.$router.push(`/contact/create/`);
            },

            updateCardNo(){
                let vm = this;
                axios.post('contact/update_card_no',this.contact)
                .then(function (response) {
                    vm.toast("Contact Card No is successfully Updated","success");
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors
                });
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                    }, {
                        messageType: message_type,
                        position : 'topRight',
                        language: 'en',
                        closeTime: 3
                    });
            }
        }
    }
</script>