<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-right">
                <router-link to="/user/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Users
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New User</strong>
                                <strong v-show="status==1">Update User</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.name}"  v-model="user.name" type="text" placeholder="Name" ref="name" >
                                            <div v-if="errors.name" class="invalid-feedback">{{ errors.name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" >
                                        <div class="form-group">
                                            <label for="username">Username *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.username}"  v-model="user.username" type="text" placeholder="Username" >
                                            <div v-if="errors.username" class="invalid-feedback">{{ errors.username[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.email}" v-model="user.email"   type="text"  placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password">Password *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.password}" v-model="user.password"  type="password" placeholder="Password">
                                            <div v-if="errors.password" class="invalid-feedback">{{ errors.password[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.mobile_no}" v-model="user.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="user_role">User Role *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.user_role}" v-model="user.user_role">
                                                <option value="">Select User Role</option>
                                                <option value="Admin">Admin</option>
                                                <option value="User">User</option>
                                                <option value="Employee">Employee</option>
                                            </select>
                                            <div v-if="errors.user_role" class="invalid-feedback">{{ errors.user_role[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="branch_id">Branch </label>
                                            <select class="form-control" :class="{'is-invalid': errors.branch_id}" v-model="user.branch_id">
                                                <option value="">Select Branch</option>
                                                <option v-for="branch in branches" :value="branch.branch_id">{{ branch.branch_name }}</option>
                                            </select>
                                            <div v-if="errors.branch_id" class="invalid-feedback">{{ errors.branch_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address">Address *</label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.address}" v-model="user.address"  placeholder="Address"></textarea>
                                            <div v-if="errors.address" class="invalid-feedback">{{ errors.address[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button  class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <router-link to="/user/display" v-show="status==1" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                status: 0,
                user:{
                    user_id:'',
                    name:'',
                    username:'',
                    email:'',
                    password:'',
                    mobile_no:'',
                    user_role:'',
                    address:'',
                    branch_id:''
                },
                branches:[],
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='user-create') {
                next(vm => {
                    vm.$refs.name.focus();
                    vm.discard();
                });
            }
            else {
                axios.post(`user/edit/${to.params.user_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.discard();
                        vm.user = response.data,
                        vm.status = 1,
                        vm.$refs.name.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.user.name='',
                vm.user.username='',
                vm.user.email='',
                vm.user.password='',
                vm.user.mobile_no='',
                vm.user.user_role='',
                vm.user.address='',
                vm.user.branch_id='',
                vm.$refs.name.focus(),
                vm.getBranches();
            },
            getBranches() {
                let vm = this;
                axios.post('branch/get_branches')
                .then(function (response) {
                    vm.branches = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('user/store',this.user)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("User is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('user/update',this.user)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("User is successfully updated","success"),
                    vm.$router.push('/user/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>