<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-right">
                <router-link to="/user/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New User
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Users</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Branch</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>User Role</th>
                                            <th v-if="(user.user_role=='Super Admin') || (user.user_role=='Admin')">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="usr,key in users">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ usr.name }}</td>
                                            <td>{{ usr.username }}</td>
                                            <td>{{ usr.branch.branch_name }}</td>
                                            <td>{{ usr.email }}</td>
                                            <td>{{ usr.mobile_no }}</td>
                                            <td>{{ usr.user_role }}</td>
                                            <td class="text-center" v-if="(user.user_role=='Super Admin') || (user.user_role=='Admin')">
                                                <button class="btn btn-xs btn-success" @click="edit(usr)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-xs btn-danger" @click="destroy(usr)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props:['user'],
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                users:{},
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus()
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('user/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.users = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            edit(usr) {
                let vm = this;
                vm.$router.push(`/user/edit/${usr.user_id}`);
            },

            destroy(usr){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`user/destroy/${usr.user_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.display()
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>