<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Branch</li>
            <li class="breadcrumb-right">
                <router-link to="/branch/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Branches
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New Branch</strong>
                                <strong v-show="status==1">Update Branch</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="branch_code">Branch Code *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.branch_code}"  v-model="branch.branch_code" type="text" placeholder="Branch Code" ref="branch_code">
                                            <div v-if="errors.branch_code" class="invalid-feedback">{{ errors.branch_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" >
                                        <div class="form-group">
                                            <label for="branch_name">Branch Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.branch_name}"  v-model="branch.branch_name" type="text" placeholder="Branch Name">
                                            <div v-if="errors.branch_name" class="invalid-feedback">{{ errors.branch_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="contact_person">Contact Person </label>
                                            <input class="form-control" :class="{'is-invalid': errors.contact_person}" v-model="branch.contact_person"   type="text"  placeholder="Contact Person">
                                            <div v-if="errors.contact_person" class="invalid-feedback">{{ errors.contact_person[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email </label>
                                            <input class="form-control" :class="{'is-invalid': errors.email}" v-model="branch.email"  type="email" placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.mobile_no}" v-model="branch.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone_no">Phone No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.phone_no}" v-model="branch.phone_no"  placeholder="Phone No">
                                            <div v-if="errors.phone_no" class="invalid-feedback">{{ errors.phone_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address">Address </label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.address}" v-model="branch.address"  placeholder="Address"></textarea>
                                            <div v-if="errors.address" class="invalid-feedback">{{ errors.address[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/branch/display" v-show="status==1" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                status: 0,
                branch:{
                    branch_id:'',
                    branch_code:'',
                    branch_name:'',
                    contact_person:'',
                    email:'',
                    mobile_no:'',
                    phone_no:'',
                    address:'',
                    logo:''
                },
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='branch-create') {
                next(vm => {
                    vm.$refs.branch_code.focus()
                });
            }
            else {
                axios.post(`branch/edit/${to.params.branch_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.branch = response.data,
                        vm.status = 1,
                        vm.$refs.branch_code.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        methods:{

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('branch/store',this.branch)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Branch is successfully created","success"),
                    vm.$router.push('/branch/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('branch/update',this.branch)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Branch is successfully updated","success"),
                    vm.$router.push('/branch/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>