<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Branch</li>
            <li class="breadcrumb-right">
                <router-link to="/branch/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Branch
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Branches</strong>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Branch Code</th>
                                            <th>Branch Name</th>
                                            <th>Contact Person</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>Phone No</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="branch,key in branches">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ branch.branch_code }}</td>
                                            <td>{{ branch.branch_name }}</td>
                                            <td>{{ branch.contact_person }}</td>
                                            <td>{{ branch.email }}</td>
                                            <td>{{ branch.mobile_no }}</td>
                                            <td>{{ branch.phone_no }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-xs btn-success" @click="edit(branch)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-xs btn-danger" @click="destroy(branch)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                branches:{},
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus();
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('branch/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.branches = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            edit(branch) {
                let vm = this;
                vm.$router.push(`/branch/edit/${branch.branch_id}`);
            },

            destroy(branch){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`branch/destroy/${branch.branch_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.$refs.search.focus(),
                        vm.display()
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>