<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Categories</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Category</strong>
                                <strong v-if="status==1">Update Category</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="category_code">Category Code *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.category_code}" type="text" v-model="category.category_code" placeholder="Category Code">
                                            <div v-if="errors.category_code" class="invalid-feedback">{{ errors.category_code[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="category_name">Category Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.category_name}" type="text" v-model="category.category_name" placeholder="Category Name" ref="category_name">
                                            <div v-if="errors.category_name" class="invalid-feedback">{{ errors.category_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>Categories</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Category Code</th>
                                            <th>Category Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="category,key in categories">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ category.category_code }}</td>
                                            <td>{{ category.category_name }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(category)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(category)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
            	pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                category:{
                	category_id:'',
                    category_code:'',
                    category_name:''
                },
                categories:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.category.category_code='',
                vm.category.category_name='',
                vm.pagination.search='',
                vm.status=0,
                vm.$refs.category_name.focus(),
                vm.display()
            },

            display() {
                let vm = this;
                axios.post('category/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.categories = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page,
                    vm.getCategoryCode()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getCategoryCode() {
                let vm = this;
                axios.post('category/get_category_code')
                .then(function (response) {
                    vm.category.category_code = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('category/store',this.category)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Category is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            edit(category){
                let vm = this;
                vm.category = category
                vm.status = 1,
                vm.$refs.category_name.focus()
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('category/update',this.category)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Category is successfully updated","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            destroy(category){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`category/destroy/${category.category_id}`)
                    .then(function (response) {
                    	vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("Category is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>