<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Product</li>
            <li class="breadcrumb-item">Products</li>
            <li class="breadcrumb-right">
                <router-link to="/product/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Products
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New Product</strong>
                                <strong v-show="status==1">Update Product</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_type">Product Type *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.product_type}" v-model="product.product_type" ref="product_type">
                                                <option value="">Select Product Type</option>
                                                <option value="Goods">Goods</option>
                                                <option value="Service">Service</option>
                                            </select>
                                            <div v-if="errors.product_type" class="invalid-feedback">{{ errors.product_type[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_code">Product code *</label>
                                            <input class="form-control" type="text"  :class="{'is-invalid': errors.product_code}" v-model="product.product_code"  placeholder="Product Code" >
                                            <div v-if="errors.product_code" class="invalid-feedback">{{ errors.product_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="hsn_code">HSN code</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.hsn_code}" v-model="product.hsn_code" placeholder="HSN Code">
                                            <div v-if="errors.hsn_code" class="invalid-feedback">{{ errors.hsn_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="category_id">Category *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.category_id}" v-model="product.category_id" ref="category_name">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" :value="category.category_id">{{ category.category_name }}</option>
                                            </select>
                                            <div v-if="errors.category_id" class="invalid-feedback">{{ errors.category_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="product_name">Product Name *</label>
                                            <textarea class="form-control" :class="{'is-invalid': errors.product_name}" v-model="product.product_name" placeholder="Product Name" ref="product_name"></textarea>
                                            <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea class="form-control" :class="{'is-invalid': errors.description}" v-model="product.description" placeholder="Description"></textarea>
                                            <div v-if="errors.description" class="invalid-feedback">{{ errors.description[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_unit">Product Unit </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.product_unit}" v-model="product.product_unit" placeholder="Product Unit" >
                                            <div v-if="errors.product_unit" class="invalid-feedback">{{ errors.product_unit[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_size">Size</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.product_size}" v-model="product.product_size" placeholder="Size" >
                                            <div v-if="errors.product_size" class="invalid-feedback">{{ errors.product_size[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="min_stock">Min Stock </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.min_stock}" v-model="product.min_stock" placeholder="Min Stock" >
                                            <div v-if="errors.min_stock" class="invalid-feedback">{{ errors.min_stock[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="discount">Discount in %</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.discount}" v-model="product.discount" placeholder="Discount in %" >
                                            <div v-if="errors.discount" class="invalid-feedback">{{ errors.discount[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="24%">Barcode
                                                    </th>
                                                    <th class="text-center" width="12%">P.Rate(Exc)</th>
                                                    <th class="text-center" width="12%">S.Rate(Exc)</th>
                                                    <th class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" width="12%">P.Rate(Inc)</th>
                                                    <th class="text-center" width="12%">S.Rate(Inc)</th>
                                                    <th class="text-center" width="8%">
                                                        <i class="fa fa-exchange"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.barcode}" type="text" v-model="price.barcode" placeholder="Barcode" ref="barcode">
                                                        <div v-if="errors.barcode" class="invalid-feedback">{{ errors.barcode[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_exc}" type="text" v-model.number="price.purchase_rate_exc" placeholder="P.Rate(Exc)" ref="purchase_rate_exc" @keyup="calPurchaseRateInc">
                                                        <div v-if="errors.purchase_rate_exc" class="invalid-feedback">{{ errors.purchase_rate_exc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sales_rate_exc}" type="text" v-model.number="price.sales_rate_exc" placeholder="S.Rate(Exc)" ref="sales_rate_exc" @keyup="calSalesRateInc">
                                                        <div v-if="errors.sales_rate_exc" class="invalid-feedback">{{ errors.sales_rate_exc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="price.tax_id" @change="calPurchaseRateInc" @keyup="calPurchaseRateInc">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_inc}" type="text" v-model.number="price.purchase_rate_inc" placeholder="P.Rate(Inc)" @keyup="calPurchaseRateExc">
                                                        <div v-if="errors.purchase_rate_inc" class="invalid-feedback">{{ errors.purchase_rate_inc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sales_rate_inc}" type="text" v-model.number="price.sales_rate_inc" placeholder="S.Rate(Inc)" @keyup="calSalesRateExc">
                                                        <div v-if="errors.sales_rate_inc" class="invalid-feedback">{{ errors.sales_rate_inc[0] }}</div>
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button v-if="price.status==0" class="btn btn-primary" type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="price.status==1" class="btn btn-success" type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr v-if="product.prices.length != 0" v-for="price, key in product.prices">
                                                    <td>
                                                        {{ price.barcode }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ ((price.purchase_rate_exc)*1).toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ ((price.sales_rate_exc)*1).toFixed(2) }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ price.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ ((price.purchase_rate_inc)*1).toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ ((price.sales_rate_inc)*1).toFixed(2) }}
                                                    </td>

                                                    <td class="text-center">
                                                        <button class="btn btn-xs btn-success" @click="editRow(price,key)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-danger" @click="deleteRow(price,key)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/product/display" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                status: 0,
                product:{
                    contact_type:'Vendor',
                    product_id:'',
                    product_type:'Goods',
                    product_code:'',
                    hsn_code:'',
                    category_id:'',
                    product_name:'',
                    description:'',
                    product_unit:'No',
                    product_size:'',
                    min_stock:'0',
                    prices:[],
                    deleted_prices:[],
                    discount:0,
                },
                price: {
                    price_id:'',
                    barcode:'',
                    purchase_rate_exc:'',
                    sales_rate_exc:'',
                    tax:{},
                    tax_id:'',
                    purchase_rate_inc:'',
                    sales_rate_inc:'',
                    key:'',
                    status:0
                },
                categories:{},
                taxes:{},
                contacts:{},
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='product-create') {
                next(vm => {
                    vm.getProductCode(),
                    vm.$refs.category_name.focus()
                });
            }
            else {
                axios.post(`product/edit/${to.params.product_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getCategories(),
                        vm.product = response.data; 
                        vm.product.deleted_prices = []; 
                        vm.status = 1,
                        vm.$refs.product_name.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },
        watch:{
            // 'price.purchase_rate_exc':function(val){
            //     let vm = this;
            //     vm.calPurchaseRateInc();
            // },
            // 'price.sales_rate_exc':function(val){
            //     let vm = this;
            //     vm.calSalesRateInc();
            // },
            // 'price.tax_id':function(val){
            //     let vm = this;
            //     vm.calPurchaseRateInc();
            // },
            // 'price.purchase_rate_inc':function(val){
            //     let vm = this;
            //     vm.calPurchaseRateExc();
            // },
            // 'price.sales_rate_inc':function(val){
            //     let vm = this;
            //     vm.calSalesRateExc();
            // },

        },
        methods:{
            getProductCode() {
                let vm = this;
                axios.post('product/get_product_code')
                .then(function (response) {
                    vm.product.product_code = response.data,
                    vm.getCategories()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            getCategories() {
                let vm = this;
                axios.post('category/get_categories')
                .then(function (response) {
                    vm.categories = response.data;
                    vm.getTaxes();
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('tax/get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.setData(vm.taxes)
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            setData(taxes){
                let vm = this;
                // if(vm.status==0) {
                    vm.price.tax_id = taxes[0].tax_id
                // }
            },
            calPurchaseRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.price.tax_id 
                });
                vm.price.tax = tax[0];
                let product_tax = ((vm.price.purchase_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.price.purchase_rate_inc = (+product_tax + +vm.price.purchase_rate_exc).toFixed(2);
                vm.calSalesRateInc();
            },

            calPurchaseRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.price.tax_id 
                });
                vm.price.purchase_rate_exc = (vm.price.purchase_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
               
                vm.calSalesRateInc();
            },


            calSalesRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.price.tax_id 
                });

                let product_tax = ((vm.price.sales_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.price.sales_rate_inc = (+product_tax + +vm.price.sales_rate_exc).toFixed(2);
                
            },
            calSalesRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.price.tax_id 
                });
                 vm.price.sales_rate_exc = (vm.price.sales_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                
                //vm.price.opening_stock_rate = vm.price.purchase_rate_inc;
            },
            addRow() {
                let vm = this;
                axios.post('price/validation',vm.price)
                .then(function (response) {
                    let a = vm.product.prices.filter(function(value){
                        return value.barcode == response.data.barcode
                    });
                    // if (a.length > 0) {
                    //     vm.toast('Barcode Already Added','error')
                    // }else{
                        vm.product.prices.push(response.data)
                    // }
                    vm.discardProductPrices()
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            }, 

            editRow(price, key) {
                let vm = this;
                vm.price = price;
                vm.price.status = 1;
                vm.price.key = key;
            },

            updateRow() {
                let vm = this;
                axios.post('price/validation',vm.price)
                .then(function (response) {
                    vm.product.prices.splice(response.data.key,1,response.data);
                    vm.discardProductPrices()
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            deleteRow(price,key) {
                let vm = this;
                vm.product.deleted_prices.push(price),
                vm.product.prices.splice(key, 1);
                vm.discardProductPrices();
            },

            discardProductPrices(){
                let vm = this;
                vm.price.price_id = '',
                vm.price.barcode = '',
                vm.price.purchase_rate_exc = '',
                vm.price.sales_rate_exc = '',
                vm.price.tax = {},
                vm.price.tax_id = '',
                vm.price.purchase_rate_inc = '',
                vm.price.sales_rate_inc = '',
                vm.price.key="";
                vm.price.status=0;
                vm.errors={};
                vm.$refs.barcode.focus();
                vm.getTaxes();
            },
            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('product/store',this.product)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Product is successfully created","success");
                    vm.$router.push('/product/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('product/update',this.product)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Product is successfully updated","success"),
                    vm.$router.push('/product/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>