<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Stock</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button class="btn btn-xs btn-info" @click="changeType('pdf')">
                    PDF
                </button>
                <button class="btn btn-xs btn-warning" @click="changeType('excel')">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button class="btn btn-xs btn-danger" @click="discard">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>STOCK REPORT</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="380" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6" v-if="user.user_role == 'Super Admin'">
                    <div class="form-group">
                        <label for="stock_type">Stock Type </label>
                        <select class="form-control" v-model="report.stock_type" @change="showBranch($event)">
                            <option value="" disabled>Select Stock Type</option>
                            <option value="Branch Stock">Branch Stock</option>
                            <option value="Main Stock">Main Stock</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6" v-if="user.user_role == 'Super Admin' && report.stock_type == 'Branch Stock'">
                    <div class="form-group">
                        <label for="branch_id">Branch </label>
                        <select class="form-control" v-model="report.branch_id">
                            <option value="">Select Branch</option>
                            <option v-for="branch in branches" :value="branch.branch_id">{{ branch.branch_name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="category_id">Category </label>
                        <select class="form-control" v-model="report.category_id">
                            <option value="">Select Category</option>
                            <option v-for="category in categories" :value="category.category_id">{{ category.category_name }}</option>
                        </select>
                    </div>
                </div>
                
            </div>
        </b-modal>
    </main>
</template>
<script>
export default{
    props:['user'],
    data(){
        return{
            report: {
                from_date:new Date().toISOString().slice(0,10),
                display_type:'display',
                branch_id:'',
                category_id:'',
                stock_type:'Branch Stock'
            },
            branches:[],
            categories:[],
            errors:[]
        }
    },

    mounted(){
        let vm = this;
        if (vm.user.user_role=="Super Admin") {
            vm.getBranches();
        }else{
            vm.getCategories();
        }
        vm.getData();
    },
    
    methods:{
        getBranches() {
            let vm = this;
            axios.post('branch/get_branches')
            .then(function (response) {
                vm.branches = response.data;
                vm.getCategories();
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        getCategories(){
            let vm = this;
            axios.post('category/get_categories')
            .then(function (response) {
                vm.categories = response.data;
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },

        changeType(display_type) {
            let vm = this;
            vm.$set(vm.report,'display_type',display_type);
            vm.getData();
        },
       

        filter() {
            let vm = this;
            vm.report.display_type = 'display';
            vm.getData();
        },

        getData() {
            let vm = this;
            let key = vm.$vDialog.mask("Loading...");
            if (vm.user.user_role!="Super Admin") {
                vm.$set(vm.report,'branch_id',vm.user.branch_id)
            }
            let source = 'product/stock_report/?from_date=' + vm.report.from_date + '&display_type=' + vm.report.display_type + '&branch_id=' + vm.report.branch_id + '&category_id=' + vm.report.category_id + '&stock_type=' + vm.report.stock_type;
            vm.$set(vm.report,'source',source);
            vm.$vDialog.close(null, key)
        },

        showBranch(e){
            let vm = this;
            vm.$set(vm.report,'stock_type',e.target.value);
        },

        discard(){
            location.reload(true);
        },

        toast(message,message_type) {
            let vm = this;
            vm.$dlg.toast(message, function(){
            }, {
                messageType: message_type,
                position : 'topRight',
                language: 'en',
                closeTime: 3
            });
        }
    }
}
</script>