<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            
            <li class="breadcrumb-item">Product</li>

            <li class="breadcrumb-right">
                <router-link :to="redirect_back" class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/product/create" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <!-- <button type="button" @click="edit()" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                </button> -->
                <button type="button" @click="view()" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy()" type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
       
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Product Code: 
                                <strong>{{ product.product_code}}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row"> 
                                    <div class="col-md-4">
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                               <strong><div class="mb-3">Details:</div></strong>
                                                <div>
                                                    Product Name:{{ product.product_name }}
                                                </div>
                                                <div>Product Type: {{ product.product_type }}</div>
                                                <div>Hsn Code: {{ product.hsn_code }}</div>
                                                <div>Category : {{ product.category.category_name }}</div>
                                                <div>Min stock: {{ product.min_stock }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                    </div> 
                                    <div class="col-md-8">
                                        <div class="card-group mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-people"></i>
                                                  </div>
                                                  <div class="text-value">87.500</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Total Revenue</small>
                                                
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-user-follow"></i>
                                                  </div>
                                                  <div class="text-value">385</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Open Sales Orders</small>
                                                  
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-basket-loaded"></i>
                                                  </div>
                                                  <div class="text-value">1238</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-group mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-people"></i>
                                                  </div>
                                                  <div class="text-value">87.500</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Unpaid Invoices</small>
                                                 
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-user-follow"></i>
                                                  </div>
                                                  <div class="text-value">385</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
                                                  
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-basket-loaded"></i>
                                                  </div>
                                                  <div class="text-value">1238</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Product Taxes</strong>
                                
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Tax Name</th>
                                            <th>Rate</th>
                                            <th>SGST</th>
                                            <th>CGST</th>
                                            <th>IGST</th>
                                         
                                        </tr>
                                    </thead>
                                  
                                
                                </table>
                            </div>
                            <div class="card-footer">
                               
                            </div>
                       
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                product:{},
                redirect_back:'',
                errors:{},
                status: 0
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`product/view/${to.params.product_id}`)
            .then(function (response) {
                next(vm => {
                    vm.product = response.data,
                    vm.redirect_back =from.path
                })
            })
        },
        
        methods:{
            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    axios.post('product/destroy',this.product)
                    .then(function (response) {
                        vm.toast("Product is successfully Deleted","success");
                        vm.$router.push('/product/display');
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors
                    });
                }
            },

            edit() {
                let vm = this;
                vm.$router.push(`/product/edit/${vm.product.product_id}`);
            },

            // create() {
            //     let vm = this;
            //     vm.$router.push(`/purchase/create/${vm.contact.contact_id}`);
            // },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                    }, {
                        messageType: message_type,
                        position : 'topRight',
                        language: 'en',
                        closeTime: 3
                    });
            }
        }
    }
</script>