<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item">Income</li>
            <li class="breadcrumb-right">
                <router-link to="/income/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Income
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Income</strong>
                                <strong v-if="status==1">Update Income</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="contact_id">
                                                Contact *
                                                <span class="cursor font-color"  v-b-modal.contact> New Contact </span>
                                                <contactmodal :module='module' :contact_type="income.contact_type"  @contact="selectContact($event)"/>
                                            </label>
                                            <contact :contact_type="income.contact_type" :initialize="income.contact_name" @input="selectContact($event)" ref="contact_name"></contact>
                                            <div v-if="errors.contact_id" class="invalid-feedback">{{ errors.contact_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="receipt_no">Receipt No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.receipt_no}" v-model="income.receipt_no" placeholder="Voucher No">
                                            <div v-if="errors.receipt_no" class="invalid-feedback">{{ errors.receipt_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="receipt_date">Receipt Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.receipt_date}" v-model="income.receipt_date" placeholder="Voucher Date">
                                            <div v-if="errors.receipt_date" class="invalid-feedback">{{ errors.receipt_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="account_id">Account *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.account_id}" v-model="income.account_id" ref="account_id">
                                                <option value="">Select Account</option>
                                                <option v-for="account in accounts" :value="account.account_id">{{ account.account_name }}</option>
                                            </select>
                                            <div v-if="errors.account_id" class="invalid-feedback">{{ errors.account_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="payment_mode">Payment Mode *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.payment_mode}" v-model="income.payment_mode">
                                                <option value=" ">Select Payment Mode</option>
                                                <option v-for="payment_mode in payment_modes" :value="payment_mode.master_value">{{ payment_mode.master_value }}</option>
                                            </select>
                                            <div v-if="errors.payment_mode" class="invalid-feedback">{{ errors.payment_mode[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="income.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_date">Reference Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.reference_date}" v-model="income.reference_date" placeholder="Reference Date">
                                            <div v-if="errors.reference_date" class="invalid-feedback">{{ errors.reference_date[0] }}</div>
                                        </div>
                                    </div>
                                      <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.amount}" v-model="income.amount" placeholder="Amount">
                                            <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">   
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                           
                                            <tbody>
                                                
                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control form-control-sm"  :class="{'is-invalid': errors.term_id}" v-model="income.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                   
                                                </tr>
                                                <tr>
                                                    <th colspan="5">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.terms}" v-model="income.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th colspan="3">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.note}" v-model="income.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    import { Contactmodal } from '../modal/contactmodal'

    export default{
        components: { Contact, Contactmodal},
        data(){
            return{
                status: 0,
                module: 'income',
                income:{
                    income_id:'',
                    receipt_no:'',
                    receipt_date:new Date().toISOString().slice(0,10),
                    account_id:'',
                    payment_mode:'',
                    contact_type:'Contact',
                    contact_id:'',
                    contact_name:'',
                    reference_no:'',
                    reference_date:new Date().toISOString().slice(0,10),
                    amount:'',
                    term_id:'',
                    terms:'',
                    note:'',
                },
                contact:{
                    contact_id:'',
                    contact_type:'',
                    contact_code:'',
                    contact_name:'',
                    email:'',
                    mobile_no:'',
                    pan_no:'',
                    gstin_no:'',
                    billing_address:'',
                    shipping_address:'',
                    payment_term_id:1,
                    place_id:1
                },
                master_name: 'Payment Mode',
                accounts:{},
                payment_modes:{},
                payment_terms:{},
                places:{},
                terms:{},
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='income-create') {
                next(vm => {
                    vm.getIncomeNo(),
                    vm.$refs.contact_name.focus()
                });
            }
            else{
                axios.post(`income/view/${to.params.income_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.income = response.data,
                        vm.income.contact_name = response.data.contact.contact_name,
                        vm.status = 1,
                        vm.getAccounts()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },
        methods:{
            getIncomeNo() {
                let vm = this;
                axios.post('income/get_receipt_no')
                .then(function (response) {
                    vm.income.receipt_no = response.data,
                    vm.getAccounts()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            
            getAccounts() {
                let vm = this;
                axios.post('account/get_accounts')
                .then(function (response) {
                    vm.accounts = response.data,
                    vm.getPaymentModes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentModes() {
                let vm = this;
                axios.post('master/get_masters',{master_name:this.master_name})
                .then(function (response) {
                    vm.payment_modes = response.data,
                    vm.getTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('term/get_terms',{ term_type:'Receipt'})
                .then(function (response) {
                    vm.terms = response.data,
                    vm.getPlaces()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPlaces() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            
            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data
                    
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },



            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.income.term_id
                });
                // if(term) {
                //     vm.income.terms = term[0].term;
                // }
                if(term.length > 0) {
                    vm.income.terms = term[0].term;
                }else{
                    vm.$set(vm.income,'terms','');
                }
            },

            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.income.contact_id = contact.contact_id;
                vm.income.contact_name = contact.contact_name;
            },


            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('income/store',vm.income)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Income is successfully created","success"),
                    vm.$router.push('/income/display')
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('income/update',vm.income)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Income successfully updated","success"),
                    vm.$router.push(`/income/view/${vm.income.income_id}`)
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            discard() {
                let vm = this;
                vm.$router.push('/income/display');
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>   