<template>
	<main class="main">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<router-link to="/home">
					<i class="fa fa-home"></i> Home
				</router-link>
			</li>
			<li class="breadcrumb-item">Sales</li>
			<li class="breadcrumb-item">Income</li>
			<li class="breadcrumb-right">
				<router-link :to="redirect_back" class="btn btn-xs btn-primary">
					<i class="fa fa-arrow-left"></i>
				</router-link>
				<button @click="preview" type="button" class="btn btn-xs btn-primary">
					<i class="fa fa-file-pdf-o"></i>
				</button>
				<router-link to="/income/create" class="btn btn-xs btn-primary">
					<i class="fa fa-plus"></i>
				</router-link>
				 <button @click="edit" type="button" class="btn btn-xs btn-primary">
					<i class="fa fa-edit"></i>
				</button>
				<button @click="destroy" type="button" class="btn btn-xs btn-danger">
					<i class="fa fa-trash"></i>
				</button>
			</li>
		</ol>
		<div class="container-fluid">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header">
								Voucher : 
								<strong>{{ income.receipt_no }}</strong>
							</div>
							<div class="card-body">
								<div class="row mb-1">
									<div class="col-sm-4">
										<h6 class="mb-1">From:</h6>
										<div>
											<strong>{{ org.org_name }}</strong>
										</div>
										<div>{{ org.address }}</div>
										<div>Email: {{ org.email }}</div>
										<div>Phone: {{ org.mobile_no }}</div>
										<div>PAN: {{ org.pan_no }}</div>
										<div>GSTIN: {{ org.gstin_no }}</div>
									</div >

									<div class="col-sm-4">
										<h6 class="mb-1">To:</h6>
										<div>
											<strong>{{ income.contact.contact_name }}</strong>
										</div>
										<div>{{ income.contact.billing_address }}</div>
										<div>Email: {{ income.contact.email }}</div>
										<div>Phone: {{ income.contact.mobile_no }}</div>
										<div>PAN: {{ income.contact.pan_no }}</div>
										<div>GSTIN: {{ income.contact.gstin_no }}</div>
									</div>

									<div class="col-sm-4">
										<h6 class="mb-1">Details:</h6>
										<div>
											Voucher No : <strong>{{ income.receipt_no }}</strong>
										</div>
										<div>
											Voucher Date : {{ income.receipt_date | moment("DD-MM-YYYY") }}
										</div>
										<div>
											Account : {{ income.account.account_name }}
										</div>
										<div>
											Payment Mode : {{ income.payment_mode }}
										</div>
										<div>
											Ref No : {{ income.reference_no }}
										</div>
										<div>
											Ref Date : {{ income.reference_date | moment("DD-MM-YYYY") }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-responsive-sm table-bordered table-striped table-sm">
											<thead>
												<tr>
													<th class="text-center">#</th>
													<th>Voucher No</th>
													<th>Voucher Date</th>
													<th class="text-right">Amount</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="text-center">
														1
													</td>
													<td>
														{{ income.receipt_no }}
													</td>
													<td>
														{{ income.receipt_date | moment("DD-MM-YYYY") }}
													</td>
													<td class="text-right">
														{{ income.amount.toFixed(2) }}
													</td>
												</tr>
												<tr>
													<th colspan="3" class="text-right">Total</th>
													<th class="text-right">
														{{ income.amount.toFixed(2) }}
													</th>
												</tr>
												<tr>
													<th colspan="3">
														<strong>Terms and Conditions : </strong><br>
														{{ income.terms }}
													</th>
													<th colspan="0">
														<strong>Note : </strong><br>
														{{ income.note }}
													</th>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</template>
<script>
	export default{
		props: ['org'],
		data(){
			return{
				income:{},
				redirect_back:'',
				errors:{}
			}
		},

		beforeRouteEnter(to, from, next) {
			axios.post(`income/view/${to.params.income_id}`)
			.then(function (response) {
				next(vm => {
					vm.income = response.data,
					vm.redirect_back =from.path
				})
			})
			.catch(function (error) {
				vm.toast(error.message,'error')
			});
		},
		
		methods:{
			preview() {
				let vm = this;
				vm.$router.push(`/income/preview/${vm.income.income_id}`);
			},
			
			edit() {
				let vm = this;
				vm.$router.push(`/income/edit/${vm.income.income_id}`);
			},

			destroy(){
				if(confirm('Do you want to continue ?')) {
					let vm = this;
					let key = vm.$vDialog.mask("Loading...");
					axios.post(`income/destroy/${vm.income.income_id}`)
					.then(function (response) {
						vm.$vDialog.close(null, key),
						vm.toast("Income successfully deleted","success"),
						vm.$router.push('/income/display')
					})
					.catch(function (error) {
						vm.$vDialog.close(null, key),
						vm.toast(error.message,'error')
					});
				}
			},

			toast(message,message_type) {
				let vm = this;
				vm.$vDialog.toast(message, function(){
				}, {
					messageType: message_type,
					position : 'topRight',
					language: 'en',
					closeTime: 3
				});
			}
		}
	 }
</script>