<template>
	<div class="row" v-if="taxable.length>0">
	    <div class="col-sm-6">
	        <table class="table table-responsive-sm table-bordered table-striped table-sm">
	            <thead>
	                <tr>
	                    <th class="text-center" rowspan="2">#</th>
	                    <th class="text-center">Taxable</th>
	                    <th v-if="taxtype == 'GST'" class="text-center" colspan="2">CGST</th>
	                    <th v-if="taxtype == 'GST'" class="text-center" colspan="2">SGST</th>
                        <th v-if="taxtype == 'IGST'" class="text-center" colspan="4">IGST</th>
	                    <th class="text-center">Total</th>
	                </tr>
	                <tr>
	                    <th class="text-center">Amount</th>
	                    <th v-if="taxtype == 'GST'" class="text-center">Rate</th>
	                    <th v-if="taxtype == 'GST'" class="text-center">Amount</th>
	                    <th v-if="taxtype == 'GST'" class="text-center">Rate</th>
	                    <th v-if="taxtype == 'GST'" class="text-center">Amount</th>
                        <th v-if="taxtype == 'IGST'" class="text-center" colspan="2" >Rate</th>
                        <th v-if="taxtype == 'IGST'" class="text-center" colspan="2" >Amount</th>
	                    <th class="text-center">Amount</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr v-for="taxable,key in taxable">
	                    <td class="text-center">{{ ++key }}</td>
	                    <td class="text-right">{{ taxable.amount }}</td>
	                    <td v-if="taxtype == 'GST'" class="text-right">{{ taxable.cgst_name }}</td>
	                    <td v-if="taxtype == 'GST'" class="text-right">{{ taxable.cgst_amount }}</td>
	                    <td v-if="taxtype == 'GST'" class="text-right">{{ taxable.sgst_name }}</td>
	                    <td v-if="taxtype == 'GST'" class="text-right">{{ taxable.sgst_amount }}</td>
                        <td v-if="taxtype == 'IGST'" class="text-right" colspan="2">{{ taxable.igst_name }}</td>
                        <td v-if="taxtype == 'IGST'" class="text-right" colspan="2">{{ taxable.igst_amount }}</td>
	                    <td class="text-right">{{ taxable.total_amount }}</td>
	                </tr>
	            </tbody>
	            <tfoot>
	                <th class="text-center">Total</th>
	                <td class="text-right">{{ taxable | redArr('amount') }}</td>
	                <td v-if="taxtype == 'GST'" class="text-right" colspan="2">{{ taxable | redArr('cgst_amount') }}</td>
	                <td v-if="taxtype == 'GST'" class="text-right" colspan="2">{{ taxable | redArr('sgst_amount') }}</td>
                    <td v-if="taxtype == 'IGST'" class="text-right" colspan="4">{{ taxable | redArr('igst_amount') }}</td>
	                <td class="text-right">{{ taxable | redArr('total_amount') }}</td>
	            </tfoot>
	        </table>
	    </div>
	</div>
</template>

<script>
    export default{
    	props:{
    		products: {
                default: null,
            },
            taxes: {
                default: null,
            },
            taxtype: {
                type: String,
                required:true,
                // default:null,
            },
            setting: {
                required:true,
                default:null,
            },
    	},
        data(){
            return{
                taxable:[],
            }
        },
        watch: {
            products:{
                handler:function(newVal,oldVal){
                    this.displayTaxable(newVal,this.taxes);
                },
                deep: true
            }
          },
        mounted(){
        	this.displayTaxable(this.products,this.taxes);
        },
        methods:{
            displayTaxable(products,taxes){
                let vm = this;
                vm.taxable = [];
                let unique_tax_ids = _.sortBy(getProductTaxes(products,'tax_id'));
                let filtered_taxes = getFilterTaxes(products,taxes);
                unique_tax_ids.forEach((tax_id)=>{
                    let tax_obj = {};
                    let tax = _.find(filtered_taxes,function(val){ return val.tax_id == tax_id })
                    tax_obj = Object.assign({},tax_obj,{
                        'tax':tax,
                        'tax_id':tax.tax_id,
                        'amount':parseFloat(getTaxable(products,tax,'amount',this.setting)).toFixed(2),
                        'cgst_name':tax.cgst_name,
                        'cgst_amount':parseFloat(getTaxable(products,tax,'gst_tax_amount',this.setting)).toFixed(2),
                        'sgst_name':tax.sgst_name,
                        'sgst_amount':parseFloat(getTaxable(products,tax,'gst_tax_amount',this.setting)).toFixed(2),
                        'igst_name':tax.igst_name,
                        'igst_amount':parseFloat(getTaxable(products,tax,'igst_tax_amount',this.setting)).toFixed(2),
                        'total_amount':parseFloat(getTaxable(products,tax,'total_amount',this.setting)).toFixed(2),
                    });
                    vm.taxable.push(tax_obj)
                });
                function getProductTaxes(prods,field){
                    return  _.map(prods.filter((ele,ind,self)=>{
                        return ind == self.findIndex((val)=>{
                            return val.tax_id == ele.tax_id;
                        });
                    }),(value)=>{
                        return value[`${field}`];
                    });
                };
                function getFilterTaxes(prods,main_taxes){
                    if(_.isUndefined(main_taxes)||_.isNull(main_taxes)){
                        return getProductTaxes(prods,'tax');
                    }else{
                        return main_taxes;    
                    }
                };
                function getTaxable(prods,tax,type,set){
                    let filtered_prods = prods.filter((value)=>{
                        return value.tax_id == tax.tax_id;
                    });
                    switch(type){
                        case 'amount':
                            return filtered_prods.reduce((sum,value)=>{
                                if(set.discount_on == 'Exc'){
                                    return sum + parseFloat(value.amount-value.discount_amount);
                                }else{
                                    return sum + parseFloat(value.amount);
                                }
                                
                            },0);
                        break;
                        case 'gst_tax_amount':
                            return filtered_prods.reduce((sum,value)=>{
                                if(set.discount_on == 'Exc'){
                                    return sum + ((parseFloat(value.tax_amount))/2);
                                }else{
                                    return sum + (parseFloat(value.amount*parseFloat(tax.tax_rate)/100)/2);
                                }
                            },0);
                        break;
                        case 'igst_tax_amount':
                            return filtered_prods.reduce((sum,value)=>{
                                if(set.discount_on == 'Exc'){
                                    return sum + ((parseFloat(value.tax_amount)));
                                }else{
                                    return sum + (parseFloat(value.amount*parseFloat(tax.tax_rate)/100));
                                }
                            },0);
                        break;
                        case 'total_amount':
                            return filtered_prods.reduce((sum,value)=>{
                                if(set.discount_on == 'Exc'){
                                    return sum+parseFloat(value.sub_total);
                                }else{
                                    return sum+parseFloat(value.amount)+parseFloat(value.amount*parseFloat(tax.tax_rate)/100);
                                }
                            },0);
                        break;
                    }
                };
            },
        },
        filters:{
            redArr:function(arr,field){
                return parseFloat(arr.reduce((sum,val)=>{
                            return sum+parseFloat(_.get(val,field,'error'));
                        },0)).toFixed(2);
            }
        },
    }
</script>