<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Bill</li>
            <li class="breadcrumb-right">
                <router-link to="/bill/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Purchase Bills
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Purchase Bill </strong>
                                <strong v-if="status==1">Update Purchase Bill </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="vendor_id">
                                                Vendor * 
                                                <!-- <span class="cursor font-color"  v-b-modal.contact> New Vendor </span>
                                                <contactmodal :contact_type="bill.contact_type"  @contact="selectContact($event)"/> -->
                                            </label>
                                            <contact :contact_type="bill.contact_type" fetch-status="1" :initialize="bill.contact_name" @input="selectContact($event)" ref="contact_name"></contact>
                                            <div v-if="errors.vendor_id" class="invalid-feedback">{{ errors.vendor_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="bill_no">Bill No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.bill_no}" v-model="bill.bill_no" placeholder="Bill No" ref="bill_no">
                                            <div v-if="errors.bill_no" class="invalid-feedback">{{ errors.bill_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="bill_date">Bill Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.bill_date}" v-model="bill.bill_date" placeholder="Bill Date">
                                            <div v-if="errors.bill_date" class="invalid-feedback">{{ errors.bill_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-show="0">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="bill.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-show="0">
                                        <div class="form-group">
                                            <label for="reference_date">Reference Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.reference_date}" v-model="bill.reference_date" placeholder="Reference Date">
                                            <div v-if="errors.reference_date" class="invalid-feedback">{{ errors.reference_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-show="0">
                                        <div class="form-group">
                                            <label for="payment_term_id">Payment Terms*</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.payment_term_id}" v-model="bill.payment_term_id" @change="changeDueDate()">
                                                <option value="">Select Payment Term</option>
                                                <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>
                                            </select>
                                            <div v-if="errors.payment_term_id" class="invalid-feedback">{{ errors.payment_term_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-show="0">
                                        <div class="form-group">
                                            <label for="due_date">Due Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.due_date}" v-model="bill.due_date" placeholder="Due Date">
                                            <div v-if="errors.due_date" class="invalid-feedback">{{ errors.due_date[0] }}</div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-3" v-show="0">
                                        <div class="form-group">
                                            <label for="source_id">Source *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.source_id}" v-model="bill.source_id">
                                                <option value="">Select Source</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.source_id" class="invalid-feedback">{{ errors.source_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" v-show="0">
                                        <div class="form-group">
                                            <label for="destination_id">Destination *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.destination_id}" v-model="bill.destination_id">
                                                <option value="">Select Desination</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.destination_id" class="invalid-feedback">{{ errors.destination_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="24%">Product Name
                                                    </th>
                                                    <th class="text-center" width="12%">P.Rate(Exc)</th>
                                                    <th class="text-center" width="12%">P.Rate(Inc)</th>
                                                    <th v-if='preference.discount_on=="Inc"' class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" colspan="2" width="15%">Discount</th>
                                                    <th v-if='preference.discount_on=="Exc"' class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" width="8%">Qty</th>
                                                    <th class="text-center" width="12%">Amount</th>
                                                    <th class="text-center" width="8%">
                                                        <i class="fa fa-exchange"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="10">
                                                        <input class="form-control"  type="text" placeholder="Barcode" v-model='enable_barcode' ref="barcode" @keyup.enter="barcode_enable">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <product :initialize="bill_product.product_name" @input="selectProduct($event,'')" ref="product_name"></product>
                                                        <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_exc}" type="text" v-model.number="bill_product.purchase_rate_exc" placeholder="P.Rate(Exc)" ref="purchase_rate_exc" @keyup="calPurchaseRateInc">
                                                        <div v-if="errors.purchase_rate_exc" class="invalid-feedback">{{ errors.purchase_rate_exc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_inc}" type="text" v-model.number="bill_product.purchase_rate_inc" placeholder="P.Rate(Inc)" @keyup="calPurchaseRateExc">
                                                        <div v-if="errors.purchase_rate_inc" class="invalid-feedback">{{ errors.purchase_rate_inc[0] }}</div>
                                                    </td>
                                                    <td v-if='preference.discount_on=="Inc"'>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="bill_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td width="10%">
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="bill_product.discount" placeholder="Discount">
                                                        <div v-if="errors.discount" class="invalid-feedback">{{ errors.discount[0] }}</div>
                                                    </td>
                                                    <td width="7%">
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="bill_product.discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                        <div v-if="errors.discount_type" class="invalid-feedback">{{ errors.discount_type[0] }}</div>
                                                    </td>
                                                    <td v-if='preference.discount_on=="Exc"'>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="bill_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="quantity" class="form-control" :class="{'is-invalid': errors.quantity}" type="text" v-model.number="bill_product.quantity" placeholder="Qty" @keyup.enter="checkRow" ref="quantity">
                                                        <div v-if="errors.quantity" class="invalid-feedback">{{ errors.quantity[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="amount" class="form-control" :class="{'is-invalid': errors.amount}" type="text" v-model.number="bill_product.amount" placeholder="Amount" readonly>
                                                        <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button v-if="bill_product.status==0" class="btn btn-primary" type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="bill_product.status==1" class="btn btn-success" type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr v-if="bill.bill_products.length != 0" v-for="bill_product, key in bill.bill_products">
                                                    <td>
                                                        {{ bill_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.purchase_rate_exc }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.purchase_rate_inc }}
                                                    </td>
                                                    <td v-if='preference.discount_on=="Inc"' class="text-center">
                                                        {{ bill_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right" colspan="2">
                                                        {{ bill_product.discount }}
                                                        {{ bill_product.discount_type }}
                                                    </td>
                                                    <td v-if='preference.discount_on=="Exc"' class="text-center">
                                                        {{ bill_product.tax.tax_name }}
                                                    </td>

                                                    <td class="text-right">
                                                        {{ bill_product.quantity }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.amount }}
                                                    </td>
                                                    <td class="text-center">
                                                        <button class="btn btn-xs btn-success" @click="editRow(bill_product,key)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-danger" @click="deleteRow(bill_product,key)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control"  :class="{'is-invalid': errors.term_id}" v-model="bill.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3">Sub Total</th>
                                                    <th class="text-right" colspan="2">{{ subTotal }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.terms}" v-model="bill.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th v-if='preference.discount_on=="Exc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='preference.discount_on=="Exc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right"  v-if='preference.discount_on=="Exc"'>Discount</th>
                                                    <th class="text-right" colspan="3" v-if='preference.discount_on=="Exc"'>{{ discountAmount }}</th>
                                                    <th class="text-right" colspan="3" v-if='preference.discount_on=="Inc"'>GST</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on=="Inc"' >{{ taxAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" v-if='preference.discount_on=="Exc"' colspan="3">GST</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on=="Exc"' >{{ taxAmount }}</th>
                                                    <th v-if='preference.discount_on=="Inc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='preference.discount_on=="Inc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right" v-if='preference.discount_on=="Inc"' >Discount</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on=="Inc"' >{{ discountAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.note}" v-model="bill.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                    <th colspan="2">
                                                        <input class="form-control" type="text" v-model.number="roundoff" placeholder="Round Off" >
                                                    </th>
                                                    <th class="text-right" >Round off</th>
                                                    <th class="text-right" colspan="2">{{ roundOff }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Grand Total</th>
                                                    <th class="text-right" colspan="2">{{ grandTotal }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="bill.bill_products.length>0&&taxes.length>0" :products="bill.bill_products" :taxes="taxes" :taxtype="bill.source_id!=bill.destination_id?'IGST':'GST'" :setting="preference"/>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="new_barcode" ref="new_barcode" size="lg" title="Add Barcode" @ok="AddNewBarCode">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="from_date">Barcode</label>
                        <input class="form-control" type="text" v-model="bill_product.barcode" placeholder="Barcode" readonly>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="product_id">Product *</label>
                        <select class="form-control" :class="{'is-invalid': errors.product_id}" v-model="bill_product.product_id" ref="select_product"  @change="productSelected($event)">
                            <option value="">Select Product</option>
                            <option v-for="product in products" :value="product.product_id">{{ product.product_name }}</option>
                        </select>
                        <div v-if="errors.product_id" class="invalid-feedback">{{ errors.product_id[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-4" v-if="bill_product.product_id == ''">
                    <div class="form-group">
                        <label for="product_name">Product Name</label>
                        <input class="form-control" type="text" v-model="bill_product.product_name" placeholder="Product Name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="category_id">Category *</label>
                        <select class="form-control" :class="{'is-invalid': errors.category_id}" v-model="bill_product.category_id" ref="category_name">
                            <option value="">Select Category</option>
                            <option v-for="category in categories" :value="category.category_id">{{ category.category_name }}</option>
                        </select>
                        <div v-if="errors.category_id" class="invalid-feedback">{{ errors.category_id[0] }}</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="purchase_rate_exc">P.Rate ( Exc )</label>
                        <input class="form-control" type="text" v-model="bill_product.purchase_rate_exc" @keyup="calPurchaseRateInc" placeholder="P.Rate(Exc)">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="sales_rate_exc">S.Rate ( Exc )</label>
                        <input class="form-control" type="text" v-model="bill_product.sales_rate_exc" @keyup="calSalesRateInc" placeholder="S.Rate(Exc)">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="tax_id">Tax</label>
                    <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="bill_product.tax_id" @change="calPurchaseRateInc" @keyup="calPurchaseRateInc">
                        <option value="" disabled>Select Tax</option>
                        <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="purchase_rate_inc">P.Rate ( Inc )</label>
                        <input class="form-control" type="text" v-model="bill_product.purchase_rate_inc" @keyup="calPurchaseRateExc" placeholder="P.Rate(Inc)">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="sales_rate_inc">S.Rate ( Inc )</label>
                        <input class="form-control" type="text" v-model="bill_product.sales_rate_inc" @keyup="calSalesRateExc" placeholder="S.Rate(Inc)">
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    import { Product } from '../plugins/product'
    import { Productmodal } from '../modal/productmodal'
    import { Contactmodal } from '../modal/contactmodal'
    import { Taxable } from '../modal/taxable'

    export default{
        components: { Contact, Product ,Productmodal ,Contactmodal ,Taxable },
        props: ['user', 'org' ,'preference'],
        data(){
            return{
                status: 0,
                bill:{
                    bill_id:'',
                    bill_no:'',
                    bill_date:new Date().toISOString().slice(0,10),
                    due_date:new Date().toISOString().slice(0,10),
                    reference_no:'',
                    reference_date:new Date().toISOString().slice(0,10),
                    vendor_id:'',
                    contact_name:'',
                    contact_type:'Vendor',
                    source_id:'',
                    destination_id:'',
                    sub_total:'',
                    discount_amount:'',
                    tax_amount:'',
                    total_amount:'',
                    round_off:'',
                    grand_total:'',
                    note:'',
                    term_id:'',
                    payment_term_id:'',
                    terms:'',
                    reference:'',
                    bill_products:[],
                    deleted_bill_products:[],
                },
                bill_product: {
                    product_id:'',
                    product_code:'',
                    product_name:'',
                    price_id:'',
                    barcode:'',
                    purchase_rate_exc:'',
                    purchase_rate_inc:'',
                    sales_rate_exc:'',
                    sales_rate_inc:'',
                    discount:'',
                    discount_type:'',
                    discount_amount:'',
                    tax:{},
                    tax_id:'',
                    tax_amount:'',
                    quantity:'',
                    amount:'',
                    sub_total:'',
                    key:'',
                    status:0
                },
                data:{
                    purchase:''
                },
                contacts:{},
                payment_terms:{},
                places:{},
                taxes:{},
                terms:{},
                errors:{},
                discount_type:'%',
                discount:'',
                roundoff:'',
                enable_barcode:'',

                product:{
                    product_id:'',
                    product_type:'Goods',
                    product_code:'',
                    hsn_code:'',
                    category_id:'',
                    product_name:'',
                    description:'',
                    product_unit:'No',
                    product_size:'',
                    min_stock:'0',
                    
                    barcode:'',
                    price_id:'',
                    purchase_rate_exc:'',
                    sales_rate_exc:'',
                    tax:{},
                    tax_id:'',
                    purchase_rate_inc:'',
                    sales_rate_inc:'',                    
                },
                categories:[],
                products:[],
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='bill-create') {
                next(vm => {
                    vm.$refs.barcode.focus(),
                    vm.getBillNo()
                });
            }
            // else if(to.name=='purchase-order-convert-bill') {
            //     next(vm => {
            //         vm.data.purchase = JSON.parse(to.query.query);
            //         vm.$refs.barcode.focus(),
            //         vm.get_purchase_data();
            //     });
            // }
            else {
                axios.post(`bill/view/${to.params.bill_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getPlaces(),
                        vm.bill = response.data,
                        vm.bill.deleted_bill_products = [],
                        vm.bill.contact_name = response.data.vendor.contact_name
                        vm.status = 1;
                        vm.$refs.barcode.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }

        },

        watch:{
            'bill_product.tax_id':function(val){
                let vm = this;
                vm.calPurchaseRateInc();
            },

            'bill_product.quantity':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.discount':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.discount_type':function(val){
                let vm = this;
                vm.calAmount();
            },
            'discount_type':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },

            'discount':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },
        },

        computed:{
            subTotal: function(){
                let vm = this;
                let sub_total = (vm.bill.bill_products.reduce((prev, cur) => +prev + +cur.amount, 0)).toFixed(2);
                vm.bill.sub_total = sub_total;
                return sub_total;
            },

            discountAmount: function(){
                let vm = this;
                let discount_amount = (vm.bill.bill_products.reduce((prev, cur) => +prev + +cur.discount_amount, 0)).toFixed(2);
                vm.bill.discount_amount = discount_amount;
                return discount_amount;
            },

            taxAmount: function(){
                let vm = this;
                let tax_amount = (vm.bill.bill_products.reduce((prev, cur) => +prev + +cur.tax_amount, 0)).toFixed(2);
                vm.bill.tax_amount = tax_amount;
                return tax_amount;
            },

            totalAmount: function(){
                let vm = this;
                let total_amount = +vm.subTotal - +vm.discountAmount + +vm.taxAmount;
                vm.bill.total_amount = total_amount;
                return total_amount;
            },

            roundOff: function(){
                
                let vm = this;
                let round_off = parseFloat(Math.round(parseFloat(vm.totalAmount.toFixed(1))) - vm.totalAmount).toFixed(2);
                if(vm.roundoff !=''){
                    round_off = parseFloat(parseFloat(round_off) + parseFloat(vm.roundoff)).toFixed(2);
                }
                vm.bill.round_off = round_off;
                return round_off;
            },

            grandTotal: function(){
                let vm = this;
                let grand_total = Math.round(parseFloat(vm.bill.total_amount) + parseFloat(vm.bill.round_off)).toFixed(2);
                vm.bill.grand_total = grand_total;
                return grand_total;
            }
        },
        
        methods:{
            getBillNo(){
                let vm = this;
                axios.post('bill/get_bill_no')
                .then(function (response) {
                    vm.bill.bill_no = response.data,
                    vm.getPlaces()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            getPlaces() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.getProducts();
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            getProducts() {
                let vm = this;
                axios.post('product/get_product_list')
                .then(function (response) {
                    vm.products = response.data,
                    vm.getCategories()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            getCategories() {
                let vm = this;
                axios.post('category/get_categories')
                .then(function (response) {
                    vm.categories = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('tax/get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.setData();
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            setData(){
                let vm = this;
                if(vm.status==0) {
                    //vm.product.category_id = vm.categories[0].category_id,
                    vm.product.tax_id = vm.taxes[0].tax_id
                }
                vm.getTerms();
            },

            getTerms() {
                let vm = this;
                axios.post('term/get_terms',{ term_type : 'Bill'})
                .then(function (response) {
                    vm.terms = response.data;
                    if (vm.terms.length > 0) {
                        //vm.bill.term_id = vm.terms[0].term_id;
                        //vm.bill.terms = vm.terms[0].term;
                    }
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data;
                    vm.bill.payment_term_id = vm.payment_terms[0].payment_term_id;
                    vm.bill.payment_term = vm.payment_terms[0].payment_term;
                    //vm.changeDueDate()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            changeDueDate(){
                let vm = this;
                axios.post("payment_term/change_date?payment_term_id=" + vm.bill.payment_term_id + '&bill_date=' + vm.bill.bill_date)
                .then(function (response) {
                    vm.bill.due_date = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });

            },

            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.bill.term_id
                });
                if(term.length > 0) {
                    vm.bill.terms = term[0].term;
                }else{
                    vm.$set(vm.bill,'terms','');
                }

            },

            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.bill.vendor_id = contact.contact_id;
                vm.bill.contact_name = contact.contact_name;
                vm.bill.source_id = contact.place_id;
                vm.bill.destination_id = contact.place_id;
                
            },

            calPurchaseRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                vm.bill_product.tax = tax[0];
                let tax_amount = ((vm.bill_product.purchase_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.bill_product.purchase_rate_inc = (+tax_amount + +vm.bill_product.purchase_rate_exc).toFixed(2);
                vm.calAmount();
                vm.calSalesRateInc();
            },

            calPurchaseRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                vm.bill_product.purchase_rate_exc = (vm.bill_product.purchase_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                vm.calAmount();
            },
            //after New Barcode Added
            calSalesRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                vm.bill_product.tax = tax[0];
                let tax_amount = ((vm.bill_product.sales_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.bill_product.sales_rate_inc = (+tax_amount + +vm.bill_product.sales_rate_exc).toFixed(2);
            },

            calSalesRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                vm.bill_product.sales_rate_exc = (vm.bill_product.sales_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
            },
            //end of new barcode calc

            calAmount() {
                let vm = this;
                vm.bill_product.amount = (vm.bill_product.purchase_rate_exc * vm.bill_product.quantity).toFixed(2);
                vm.calSubTotal();
            },

            calSubTotal(){
                let vm = this;
                let amount = vm.bill_product.amount;
                if(vm.preference.discount_on == 'Exc'){
                    vm.bill_product.discount_amount = vm.calDiscount(amount);
                    amount = parseFloat(amount) - parseFloat(vm.bill_product.discount_amount);
                    vm.bill_product.tax_amount = vm.calTax(amount);
                    amount = parseFloat(amount) + parseFloat(vm.bill_product.tax_amount);
                    vm.bill_product.sub_total = parseFloat(amount).toFixed(2);
                }else{
                    vm.bill_product.tax_amount = vm.calTax(amount);
                    amount = parseFloat(amount) + parseFloat(vm.bill_product.tax_amount);
                    vm.bill_product.discount_amount = vm.calDiscount(amount);
                    amount = parseFloat(amount) - parseFloat(vm.bill_product.discount_amount);
                    vm.bill_product.sub_total = parseFloat(amount).toFixed(2);
                }
            },

            calDiscount(amount) {
                let vm = this;
                let dis = 0;
                if(vm.bill_product.discount_type=='%') {
                    dis = vm.bill_product.discount_amount = ((amount * vm.bill_product.discount)/100).toFixed(2);
                }
                else {
                    dis = vm.bill_product.discount_amount = vm.bill_product.discount;
                }
                return dis;
            },

            calTax(amount) {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                let tax_amount = ((amount * tax[0].tax_rate)/100).toFixed(2);
                return tax_amount;
            },

            calDiscountAmount(){
                let vm = this;
                let bill_products = vm.bill.bill_products;
                _.forEach(bill_products, function(value, key) {
                    let vm = this;
                    value.amount = (parseFloat(value.purchase_rate_exc) * parseFloat(value.quantity)).toFixed(2);
                    calSubTotal(value); 
                });
                function calSubTotal(value){
                    let amount = value.amount;
                    if(vm.preference.discount_on == 'Exc'){

                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);

                    }else{

                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);
                    }
                }
                function calTax(value,amount) {
                    let tax = vm.taxes.filter(function (el) {
                        return el.tax_id == value.tax_id ;
                    });
                    let tax_amount = parseFloat((amount * tax[0].tax_rate)/100).toFixed(2);
                    return tax_amount;
                }
                function calDiscount(value,amount) {
                    let dis = 0;
                    value.discount_type = vm.discount_type;
                    value.discount = parseInt(vm.discount);
                    if(value.discount_type=='%') {
                        dis = parseFloat((amount * vm.discount)/100).toFixed(2);
                    }
                    else {
                        dis = parseFloat(vm.discount).toFixed(2);
                    }
                    return dis;
                }
            },
            
            // calSubTotal() {
            //     let vm = this;
            //     vm.bill_product.sub_total = parseInt(vm.bill_product.amount) - parseInt(vm.bill_product.discount_amount) + parseInt(vm.bill_product.tax_amount).toFixed(2);
            // },


            checkRow() {
                let vm = this;
                if(vm.bill_product.status==0){
                    vm.addRow();
                }
                else{
                    vm.updateRow();
                }
            },

            barcode_enable(){
                let vm = this;
                if(vm.enable_barcode != ''){
                    axios.post('product/get_barcode',{barcode:vm.enable_barcode,type:'bill'})
                    .then(function (response) {
                        if (response.data) {
                            const price = response.data;
                            vm.selectProduct('',price);
                        }else{
                            var barcode = vm.enable_barcode;
                            vm.discardBillProduct();
                            vm.$set(vm.bill_product,'barcode',barcode);
                            vm.$set(vm.bill_product,'category_id','');
                            vm.$set(vm.bill_product,'tax',vm.taxes[0]);
                            vm.$set(vm.bill_product,'tax_id',vm.taxes[0].tax_id);
                            vm.$refs.new_barcode.show();
                            setTimeout(function(){vm.$refs.select_product.focus();},200);
                        }
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
            },

            selectProduct(e,product_data) {
                let vm = this;
                var price = '';
                if (product_data) {
                     price = product_data
                }else{
                     price = e.target.value;
                }
                vm.bill_product.product_id = price.product.product_id;
                vm.bill_product.product_code = price.product.product_code;
                vm.bill_product.product_name = price.product.product_name;
                vm.bill_product.price_id = price.price_id;
                vm.bill_product.barcode = price.barcode;
                vm.bill_product.purchase_rate_exc = price.purchase_rate_exc;
                vm.bill_product.purchase_rate_inc = price.purchase_rate_inc;
                vm.bill_product.sales_rate_exc = price.sales_rate_exc;
                vm.bill_product.sales_rate_inc = price.sales_rate_inc;
                vm.bill_product.discount = 0;
                vm.bill_product.discount_type = '%';
                vm.bill_product.tax = price.tax;
                vm.bill_product.tax_id = price.tax.tax_id;
                vm.$set(vm.bill_product,'enable_barcode',price.barcode);
                vm.$refs.quantity.focus();
            },














            productSelected(e){
                let vm = this;
                if (e.target.value > 0) {
                    let product = _.filter(vm.products,function(val){
                    return val.product_id == e.target.value;
                    });
                    vm.$set(vm.bill_product,'product_id',product[0].product_id);
                    vm.$set(vm.bill_product,'product_name',product[0].product_name);
                    vm.$set(vm.bill_product,'product_type','Goods');
                    vm.$set(vm.bill_product,'product_code',product[0].product_code);
                    vm.$set(vm.bill_product,'hsn_code',product[0].hsn_code);
                    vm.$set(vm.bill_product,'category_id',product[0].category_id);
                    vm.$set(vm.bill_product,'product_name',product[0].category_name);
                    vm.$set(vm.bill_product,'description',product[0].description);
                    vm.$set(vm.bill_product,'product_unit','No');
                    vm.$set(vm.bill_product,'product_size',product[0].product_size);
                    vm.$set(vm.bill_product,'min_stock',product[0].min_stock);
                }else{
                    let barcode = vm.bill_product.barcode;
                    vm.discardBillProduct('new_barcode');
                    vm.$set(vm.bill_product,'barcode',barcode);
                }
                
            },

            AddNewBarCode(){
                let vm = this;
                axios.post('product/add_new_barcode',vm.bill_product)
                .then(function (response) {
                    const new_price = response.data;
                    if (new_price) {
                        vm.discardBillProduct();
                        vm.selectProduct('',new_price);
                        setTimeout(function(){vm.$refs.quantity.focus();},200);
                    }
                })
                .catch(function (error) {                    
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            }, 

            addRow() {
                let vm = this;
                if (vm.enable_barcode != vm.bill_product.barcode && vm.enable_barcode !='') {
                    vm.$set(vm.bill_product,'enable_barcode',vm.enable_barcode);
                    vm.$refs.new_barcode.show();
                }else{

                    let filter_product = _.find(vm.bill.bill_products,  function (el,index)  {
                        if(el.price_id == vm.bill_product.price_id){
                            el.key = index;
                            return  el;
                        }
                    });

                    if(!_.isUndefined(filter_product)){
                        var qty = 0;
                        qty = vm.bill_product.quantity;
                        vm.bill_product = filter_product;
                        vm.bill_product.quantity = filter_product.quantity+qty;
                        vm.$set(vm.bill_product,'key',filter_product.key)
                        vm.$set(vm.bill_product,'status',1)
                        this.$nextTick(function () {
                            vm.checkRow();
                        });
                    }
                    else{
                        addRow()
                    }

                    function addRow(){
                        axios.post('bill/validation',vm.bill_product)
                        .then(function (response) {
                            vm.bill.bill_products.push(response.data),
                            vm.discardBillProduct()
                        })
                        .catch(function (error) {
                            vm.errors = error.response.data.errors,
                            vm.toast(error.response.data.message,'error')
                        });
                    }              
                }
            },


            editRow(bill_product, key) {
                let vm = this;
                vm.bill_product = bill_product;
                vm.bill_product.status = 1;
                vm.bill_product.key = key;
            },

            updateRow() {
                let vm = this;
                axios.post('bill/validation',vm.bill_product)
                .then(function (response) {
                    vm.bill.bill_products.splice(response.data.key,1,response.data),
                    vm.discardBillProduct()
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            deleteRow(bill_product,key) {
                let vm = this;
                vm.bill.deleted_bill_products.push(bill_product),
                vm.bill.bill_products.splice(key, 1);
                vm.discardBillProduct();
            },

            discardBillProduct(type){
                let vm = this;
                vm.bill_product = {};
                vm.$set(vm.bill_product,'product_id','');
                vm.$set(vm.bill_product,'product_code','');
                vm.$set(vm.bill_product,'product_name','');
                vm.$set(vm.bill_product,'price_id','');
                vm.$set(vm.bill_product,'barcode','');
                vm.$set(vm.bill_product,'purchase_rate_exc','');
                vm.$set(vm.bill_product,'purchase_rate_inc','');
                vm.$set(vm.bill_product,'sales_rate_exc','');
                vm.$set(vm.bill_product,'sales_rate_inc','');
                vm.$set(vm.bill_product,'discount','');
                vm.$set(vm.bill_product,'discount_type','%');
                vm.$set(vm.bill_product,'discount_amount','');
                vm.$set(vm.bill_product,'tax',{});
                vm.$set(vm.bill_product,'tax_id',vm.taxes[0].tax_id);
                vm.$set(vm.bill_product,'tax_amount','');
                vm.$set(vm.bill_product,'quantity','');
                vm.$set(vm.bill_product,'amount','');
                vm.$set(vm.bill_product,'sub_total','');
                vm.$set(vm.bill_product,'key','');
                vm.$set(vm.bill_product,'status',0);

                vm.enable_barcode = '';
                vm.errors={};
                vm.$refs.barcode.focus();
                if (type=='new_barcode') {
                    vm.$set(vm.bill_product,'category_id','');
                }
            },

            save() {
                let vm = this;
                if (vm.bill.bill_products.length > 0) {
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post('bill/store',vm.bill)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Bill successfully created","success");
                        vm.$router.push('/bill/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.errors = error.response.data.errors
                        vm.toast(error.response.data.message,'error')
                    });
                }else{
                    vm.toast('Add products for Bill','error');
                }
                
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('bill/update',vm.bill)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Bill successfully updated","success"),
                    vm.$router.push(`/bill/view/${vm.bill.bill_id}`)
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },
            
            discard() {
                let vm = this;
                vm.$router.push('/bill/display');
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        },
    }
    
</script>