<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Bills</li>
            <li class="breadcrumb-right">
                <router-link to="/bill/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Bill
                </router-link>
                <button class="btn btn-xs btn-success" v-b-modal.import>Import Bills</button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Bills</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Purchase Bill No</th>
                                            <th>Purchase Bill Date</th>
                                            <th>Vendor</th>
                                            <th class="text-right">Sub Total</th>
                                            <th v-if="preference.discounts_on=='Inc'" class="text-right">Tax</th>
                                            <th class="text-right">Discount</th>
                                            <th v-if="preference.discounts_on=='Exc'" class="text-right">Tax</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
<!--                                             <th class="text-center">Status</th>
 -->                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="bill,key in bills" @click="view(bill)">
                                            <td class="text-center">
                                                {{ pagination.from+key }}
                                            </td>
                                            <td>
                                                {{ bill.bill_no }}
                                            </td>
                                            <td>
                                                {{ bill.bill_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>
                                                {{ bill.vendor.contact_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ bill.sub_total.toFixed(2) }}
                                            </td>
                                            <td class="text-right" v-if="preference.discounts_on=='Inc'">
                                                {{ bill.tax_amount.toFixed(2) }}
                                            </td>                                            
                                            <td class="text-right">
                                                {{ bill.discount_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right" v-if="preference.discounts_on=='Exc'">
                                                {{ bill.tax_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ bill.total_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ bill.round_off.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ bill.grand_total.toFixed(2) }}
                                            </td>
                                            <!-- <td class="text-center">
                                                <span class="badge badge-primary">
                                                    {{ bill.bill_status }}
                                                </span>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="import" title="Import Bills" @ok="upload">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                            <b>Upload File</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" >
                                            <label for="master_value">File </label>
                                            <input class="form-control" :class="{'is-invalid': errors.file}" type="file" placeholder="Excel File" ref="file">
                                            <div v-if="errors.file" class="invalid-feedback">{{ errors.file[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-footer">
                                <font color="red"><b>Note : </b> Please upload only excel file in <b> .xlsx </b> format and download reference format here</font>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
        props: ['preference'],
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                bills:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus()
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('bill/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.bills = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            view(bill) {
                let vm = this;
                vm.$router.push(`/bill/view/${bill.bill_id}`);
            },
            upload(){
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                vm.formData = new FormData();
                vm.formData.append('file',vm.$refs.file.files[0]);
                axios.post('bills/import/excel',this.formData,{
                    headers:{
                        'Content-Type' : 'multipart/form-data'
                    }
                }).then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Excel is successfully uploaded",'success');
                    vm.display();
                })
                .catch(function(error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>