<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Bill</li>
            <li class="breadcrumb-right" v-if="Object.keys(bill).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <!-- <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button> -->
                <router-link to="/bill/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button  @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <!-- v-if="bill.frontend_status.edit" -->
                <button  @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <!-- <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                             Bill : 
                                <strong>{{ bill.bill_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ bill.bill_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1"><b>From : </b></h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(bill).length>0">
                                        <h6 class="mb-1"><b>To:</b></h6>
                                        <div>
                                            <strong>{{ bill.vendor.contact_name }}</strong>
                                        </div>
                                        <div>{{ bill.billing_address }}</div>
                                        <div>{{ bill.shipping_address }}</div>
                                        <div>Email: {{ bill.vendor.email }}</div>
                                        <div>Phone: {{ bill.vendor.mobile_no }}</div>
                                        <div>PAN: {{ bill.vendor.pan_no }}</div>
                                        <div>GSTIN: {{ bill.vendor.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1"><b>Details:</b></h6>
                                        <div>
                                         Bill No : <strong>{{ bill.bill_no }}</strong>
                                        </div>
                                        <div>
                                         Bill Date : {{ bill.bill_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <!-- <div>
                                            Ref No : {{ bill.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ bill.reference_date | moment("DD-MM-YYYY") }}
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">P.Rate(Exc)</th>
                                                    <th class="text-right">P.Rate(Inc)</th>
                                                    <th v-if='preference.discount_on=="Inc"' class="text-right">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th v-if='preference.discount_on=="Exc"' class="text-right">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(bill).length>0">
                                                <tr v-for="bill_product, key in bill.bill_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="bill_product.bill_product_status">
                                                        {{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ bill_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ bill_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.purchase_rate_exc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        bill_product.purchase_rate_inc.toFixed(2) }}
                                                    </td>
                                                    <td v-if='preference.discount_on=="Inc"' class="text-right">
                                                        {{ bill_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.discount.toFixed(2) }} 
                                                        {{ bill_product.discount_type }}
                                                    </td>
                                                    <td v-if='preference.discount_on=="Exc"' class="text-right">
                                                        {{ bill_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.quantity.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ bill.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.sub_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if='preference.discount_on=="Inc"'>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.discount_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if='preference.discount_on=="Exc"'>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ bill.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.round_off.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill.grand_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(bill).length>0" :products="bill.bill_products" :taxtype="bill.source_id!=bill.destination_id?'IGST':'GST'" :setting="preference"/>
                            </div>
                           <!--  <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-success" @click="convertToBillReturn">Convert Bill To Bill-Return</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 
</template>
<script>
    import { Taxable } from '../modal/taxable'

    export default{
        components: { Taxable },
        props: ['org','preference'],
        data(){
            return{
                bill:{},
                errors:{},
                redirect_back:'',
                convert_status:0,
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`bill/view/${to.params.bill_id}`)
            .then(function (response) {
                next(vm => {
                    vm.bill = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            // preview() {
            //     let vm = this;
            //     vm.$router.push(`/bill/preview/${vm.bill.bill_id}`);
            // },

            edit() {
                let vm = this;
                vm.$router.push(`/bill/edit/${vm.bill.bill_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`bill/destroy/${vm.bill.bill_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Bill successfully deleted","success"),
                        vm.$router.push('/bill/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            // convert(){
            //     let vm = this;
            //     vm.bill.bill_products.forEach(function(value){
            //         vm.$set(value,'bill_product_status',1);
            //     });
            //     vm.$set(vm.$data,'convert_status',1);
            // },


            // convertToBillReturn(){
            //     let vm = this;
            //     let bill = vm.bill.bill_products.filter(function(val){
            //         return parseInt(val.bill_product_status);
            //     }).map(function(val){
            //         return val.bill_product_id;
            //     });
            //     if(bill.length>0){
            //         this.$router.push({path:'/bill/convert/bill_return/', query: { query: JSON.stringify(bill)}});    
            //     }else{
            //         vm.toast('Error','error')
            //     }
            // },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        },
    }
</script>