<template>
    <footer class="app-footer">
       <!--  <div>
            <span>&copy; 2019 </span>
            <a target="_blank" href="https://www.cleanourcar.com">BillionCarz Private limited. </a>
            <span>All rights reserved</span>
        </div> -->
        <div class="ml-auto">
            <span>Powered By </span>
            <a target="_blank" href="http://mdbstech.com">MDBS Tech Private Limited</a>
        </div>
    </footer>
</template>