<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-right">
                <input type="date" class="form-control" v-model="date" @change="get_dashboard_data">
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-group bg-primary p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-primary">{{data.contacts}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Contacts</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <router-link :to="{ name: 'contact-display'}" class="btn-block text-muted d-flex justify-content-between align-items-center"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4" >
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-warning p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-warning">{{data.products}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Products</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <router-link :to="{ name: 'product-display'}" class="btn-block text-muted d-flex justify-content-between align-items-center"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4" >
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-success p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-success">{{data.day_sales}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Day Sales</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <router-link :to="{ name: 'invoice-display'}" class="btn-block text-muted d-flex justify-content-between align-items-center"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4" v-if="user.user_role == 'Super Admin' && user.branch_id == 1">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-danger p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-danger">{{data.purchase_bill}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Purchase Bill</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <router-link :to="{ name: 'bill-display'}" class="btn-block text-muted d-flex justify-content-between align-items-center"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-lg-4" v-for="branch,key in data.branches">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-success p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-success" v-text="redArray(branch.transfers,'grand_total')"></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Branch (Transfers ) - {{ branch.branch_name }}</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2" style="cursor: pointer;" @click="view(branch,'transfer')">
                                <div class="btn-block text-muted d-flex justify-content-between align-items-center"><span class="small font-weight-bold" >View More</span><i class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4" v-for="branch,key in data.branches">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-primary p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-primary" v-text="redArray(branch.invoices,'grand_total')"></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Branch (Sales ) - {{ branch.branch_name }}</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2" style="cursor: pointer;" @click="view(branch,'invoice')">
                                <div class="btn-block text-muted d-flex justify-content-between align-items-center">
                                    <span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['org','preference','user'],
        data(){
            return{
               data:[],
               date:new Date().toISOString().slice(0,10),
            }
        },
        mounted(){
            let vm = this;
            vm.get_dashboard_data();
        },
        methods:{
            get_dashboard_data(){
                let vm = this;
                axios.post('data/view',{ date : vm.date })
                .then(function (response) {
                    vm.data = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            redArray(data,field){
                let vm = this;
                return data.reduce(function(sum,val){
                    return sum + val[field]; 
                },0);
            },
            view(branch,model){
                let vm = this;
                axios.post('home/branch_view',branch)
                .then(function (response) {
                    vm.$router.push('/'+model+'/display');
                    location.reload();  
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>