<template>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <router-link to="/home" class="nav-link">
                        <i class="nav-icon icon-home"></i> Home
                    </router-link>
                </li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/branch/display" class="nav-link">
                        <i class="nav-icon icon-grid"></i> Branch
                    </router-link>
                </li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/configuration" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Configuration
                    </router-link>
                </li>
                <li class="nav-title">People</li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/user/display" class="nav-link">
                        <i class="nav-icon icon-user"></i> Users
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/contact/display" class="nav-link">
                        <i class="nav-icon icon-people"></i> Contacts
                    </router-link>
                </li>
                <li class="nav-title" v-if="user.user_role=='Super Admin'">Inventory</li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/category" class="nav-link">
                        <i class="nav-icon icon-grid"></i> Categories
                    </router-link>
                </li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/product/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Products
                    </router-link>
                </li>
                <li class="nav-title" v-if="user.user_role=='Super Admin'">Purchase</li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/bill/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Bills
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/transfer/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Transfers
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/transfer_return/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Transfer Returns
                    </router-link>
                </li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/expense/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Expense
                    </router-link>
                </li>
                <li class="nav-title">Sales</li>
                <li class="nav-item">
                    <router-link to="/invoice/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Invoices
                    </router-link>
                    <router-link to="/income/display" class="nav-link" v-if="user.user_role=='Super Admin'">
                        <i class="nav-icon icon-settings"></i> Income
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/report" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Reports
                    </router-link>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
</template>

<script>
    export default {
        props:['user'],
        mounted() {
        }
    }
</script>