<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Reports</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4 col-xl-4" v-if="user.user_role=='Super Admin'">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Purchase
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" >
                                    <router-link to="/bill/report">
                                        Purchase Bill Report
                                    </router-link>
                                </li>
                                <li class="list-group-item" >
                                    <router-link to="/transfer/report">
                                        Transfer Report
                                    </router-link>
                                </li>
                                <li class="list-group-item" >
                                    <router-link to="/transfer_return/report">
                                        Transfer Return Report
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4" v-if="user.user_role=='Super Admin'">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Sales
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" >
                                    <router-link to="/invoice/report">
                                        Invoice Report
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Inventory
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/product/stock_report">
                                        Stock Report
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['user'],
        methods:{
        }
     }
</script>