<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Master</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Master</strong>
                                <strong v-if="status==1">Update Master</strong>
                            </div>
                            <div class="card-body" @keyup.enter="formSubmit()">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="master_name">Master Name *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.master_name}" v-model="master.master_name" ref="master_name">
                                                <option value="">Select Master Name</option>
                                                <option value="Payment Mode">Payment Mode</option>
                                                <option value="User Role">User Role</option>
                                                <option value="Invoice Type">Invoice Type</option>
                                            </select>
                                            <div v-if="errors.master_name" class="invalid-feedback">{{ errors.master_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="master_value">Master Value *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.master_value}" type="text" v-model="master.master_value" placeholder="Master Value">
                                            <div v-if="errors.master_value" class="invalid-feedback">{{ errors.master_value[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>Masters</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Master Name</th>
                                            <th>Master Value</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="master,key in masters">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ master.master_name }}</td>
                                            <td>{{ master.master_value }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(master)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(master)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
            	pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                master:{
                	master_id:'',
                    master_name:'',
                    master_value:''
                },
                masters:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.master.master_name='',
                vm.master.master_value='',
                vm.pagination.search='',
                vm.status=0,
                vm.$refs.master_name.focus(),
                vm.display()
            },

            display() {
                let vm = this;
                axios.post('master/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.masters = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('master/store',this.master)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Master is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            edit(master){
                let vm = this;
                vm.master.master_id = master.master_id,
                vm.master.master_name = master.master_name,
                vm.master.master_value = master.master_value,
                vm.status = 1,
                vm.$refs.master_name.focus()
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('master/update',this.master)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Master is successfully updated","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            destroy(master){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`master/destroy/${master.master_id}`)
                    .then(function (response) {
                    	vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("Master is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>