<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Organization</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong>Logo</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <img  :src="organization.logo" class="img-responsive" height="200" width="100%">
                                            <input type="file" name="logo" class="form-control" v-on:change="onImageChange($event,'logo')">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                              <div class="card-header">
                                <strong>Organization</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="org_code">Organization Code *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.org_code}" v-model="organization.org_code" placeholder="Organization Code" ref="org_code">
                                            <div v-if="errors.org_code" class="invalid-feedback">{{ errors.org_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="org_name">Organization Name *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.org_name}" v-model="organization.org_name" placeholder="Organization Name">
                                            <div v-if="errors.org_name" class="invalid-feedback">{{ errors.org_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.email}" v-model="organization.email"   type="text"  placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.mobile_no}" v-model="organization.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone_no">Phone No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.phone_no}" v-model="organization.phone_no" placeholder="Phone No">
                                            <div v-if="errors.phone_no" class="invalid-feedback">{{ errors.phone_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="website">Website </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.website}" v-model="organization.website" placeholder="Website">
                                            <div v-if="errors.website" class="invalid-feedback">{{ errors.website[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address">Address *</label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.address}" v-model="organization.address"  placeholder="Address"></textarea>
                                            <div v-if="errors.address" class="invalid-feedback">{{ errors.address[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="pan_no">PAN No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.pan_no}" v-model="organization.pan_no" placeholder="PAN No">
                                            <div v-if="errors.pan_no" class="invalid-feedback">{{ errors.pan_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="gstin_no">GSTIN No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.gstin_no}" v-model="organization.gstin_no" placeholder="GSTIN No">
                                            <div v-if="errors.gstin_no" class="invalid-feedback">{{ errors.gstin_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/configuration" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                organization:{
                    org_id:'',
                    org_code:'',
                    org_name:'',
                    email:'',
                    mobile_no:'',
                    phone_no:'',
                    website:'',
                    address:'',
                    pan_no:'',
                    gstin_no:'',
                    logo:''
                },
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.get_organization()
        },

        methods:{
            get_organization() {
                let vm = this;
                axios.post('organization/get_organization')
                .then(function (response) {
                    vm.organization = response.data,
                    vm.organization.logo = 'storage/organization/'+response.data.logo
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            onImageChange(e,type) {
                e.preventDefault();
                let vm = this;
                let image = e.target.files[0]; 
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = (e) => {
                    this.organization.logo = e.target.result;
                };
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('organization/update',this.organization)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Organization is successfully updated","success");
                    vm.errors = {};
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>