<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Preference</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                <strong>Update Preference</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bill_prefix">Bill Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.bill_prefix}" v-model="preference.bill_prefix" placeholder="Bill Prefix" ref="bill_prefix">
                                            <div v-if="errors.bill_prefix" class="invalid-feedback">{{ errors.bill_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="bill_no_length">Bill No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.bill_no_length}" v-model="preference.bill_no_length">
                                            <div v-if="errors.bill_no_length" class="invalid-feedback">{{ errors.bill_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="bill_pdf">Bill PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.bill_pdf}" v-model="preference.bill_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.bill_pdf" class="invalid-feedback">{{ errors.bill_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            	<div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="transfer_prefix">Transfer Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.transfer_prefix}" v-model="preference.transfer_prefix" placeholder="Transfer Prefix" ref="transfer_prefix">
                                            <div v-if="errors.transfer_prefix" class="invalid-feedback">{{ errors.transfer_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="transfer_no_length">Transfer No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.transfer_no_length}" v-model="preference.transfer_no_length">
                                            <div v-if="errors.transfer_no_length" class="invalid-feedback">{{ errors.transfer_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="transfer_pdf">transfer PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.transfer_pdf}" v-model="preference.transfer_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.transfer_pdf" class="invalid-feedback">{{ errors.transfer_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>





                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="transfer_return_prefix">Transfer Return Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.transfer_return_prefix}" v-model="preference.transfer_return_prefix" placeholder="Transfer Return Prefix" ref="transfer_return_prefix">
                                            <div v-if="errors.transfer_return_prefix" class="invalid-feedback">{{ errors.transfer_return_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="transfer_return_no_length">Transfer Return No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.transfer_return_no_length}" v-model="preference.transfer_return_no_length">
                                            <div v-if="errors.transfer_return_no_length" class="invalid-feedback">{{ errors.transfer_return_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="transfer_return_pdf">Transfer Return PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.transfer_return_pdf}" v-model="preference.transfer_return_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.transfer_return_pdf" class="invalid-feedback">{{ errors.transfer_return_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>







                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="invoice_prefix">Invoice Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.invoice_prefix}" v-model="preference.invoice_prefix" placeholder="Invoice Prefix" ref="invoice_prefix">
                                            <div v-if="errors.invoice_prefix" class="invalid-feedback">{{ errors.invoice_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="invoice_no_length">Invoice No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.invoice_no_length}" v-model="preference.invoice_no_length">
                                            <div v-if="errors.invoice_no_length" class="invalid-feedback">{{ errors.invoice_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="invoice_pdf">Invoice PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.invoice_pdf}" v-model="preference.invoice_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.invoice_pdf" class="invalid-feedback">{{ errors.invoice_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="receipt_prefix">Receipt Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.receipt_prefix}" v-model="preference.receipt_prefix" placeholder="Receipt Prefix" ref="receipt_prefix">
                                            <div v-if="errors.receipt_prefix" class="invalid-feedback">{{ errors.receipt_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="receipt_no_length">Receipt No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.receipt_no_length}" v-model="preference.receipt_no_length">
                                            <div v-if="errors.receipt_no_length" class="invalid-feedback">{{ errors.receipt_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="receipt_pdf">Receipt PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.receipt_pdf}" v-model="preference.receipt_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.receipt_pdf" class="invalid-feedback">{{ errors.receipt_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="voucher_prefix">Voucher Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.voucher_prefix}" v-model="preference.voucher_prefix" placeholder="Voucher Prefix" ref="voucher_prefix">
                                            <div v-if="errors.voucher_prefix" class="invalid-feedback">{{ errors.voucher_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="voucher_no_length">Voucher No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.voucher_no_length}" v-model="preference.voucher_no_length">
                                            <div v-if="errors.voucher_no_length" class="invalid-feedback">{{ errors.voucher_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="voucher_pdf">Voucher PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.voucher_pdf}" v-model="preference.voucher_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.voucher_pdf" class="invalid-feedback">{{ errors.voucher_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="payment_prefix">Payment Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.payment_prefix}" v-model="preference.payment_prefix" placeholder="Payment Prefix" ref="payment_prefix">
                                            <div v-if="errors.payment_prefix" class="invalid-feedback">{{ errors.payment_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="payment_no_length">Payment No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.payment_no_length}" v-model="preference.payment_no_length">
                                            <div v-if="errors.payment_no_length" class="invalid-feedback">{{ errors.payment_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="payment_pdf">Payment PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.payment_pdf}" v-model="preference.payment_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.payment_pdf" class="invalid-feedback">{{ errors.payment_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="fiscal_year">Fiscal Year *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.fiscal_year}" v-model="preference.fiscal_year" placeholder="Fiscal Year" ref="fiscal_year">
                                            <div v-if="errors.fiscal_year" class="invalid-feedback">{{ errors.fiscal_year[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="discount_on">Discount-on *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.discount_on}" v-model="preference.discount_on">
                                                <option value="Inc">Inc</option>
                                                <option value="Exc">Exc</option>
                                            </select>
                                            <div v-if="errors.discount_on" class="invalid-feedback">{{ errors.discount_on[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="allow_negative_stock">Allow Negative Stock *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.allow_negative_stock}" v-model="preference.allow_negative_stock">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                            <div v-if="errors.allow_negative_stock" class="invalid-feedback">{{ errors.allow_negative_stock[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="discount">Discount1 *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.discount}" v-model="preference.discount" placeholder="Discount" ref="discount">
                                            <div v-if="errors.discount" class="invalid-feedback">{{ errors.discount[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="discount1">Discount for more Qty *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.discount1}" v-model="preference.discount1" placeholder="Discount for more Qty" ref="discount1">
                                            <div v-if="errors.discount1" class="invalid-feedback">{{ errors.discount1[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="card_amount">Card Amount *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.card_amount}" v-model="preference.card_amount" placeholder="Card Amount" ref="card_amount">
                                            <div v-if="errors.card_amount" class="invalid-feedback">{{ errors.card_amount[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="card_discount">Card Discount( % ) *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.card_discount}" v-model="preference.card_discount" placeholder="Card Discount" ref="card_discount">
                                            <div v-if="errors.card_discount" class="invalid-feedback">{{ errors.card_discount[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="printer_type">Printer Type *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.printer_type}" v-model="preference.printer_type">
                                                <option value="USB">USB</option>
                                                <option value="LAN">LAN</option>
                                            </select>
                                            <div v-if="errors.printer_type" class="invalid-feedback">{{ errors.printer_type[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="printer_ip">Printer IP/Name</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.printer_ip}" v-model="preference.printer_ip" placeholder="Printer IP/Name" ref="printer_ip">
                                            <div v-if="errors.printer_ip" class="invalid-feedback">{{ errors.printer_ip[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="branch_id">Main Branch *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.branch_id}" v-model="preference.branch_id">
                                                <option value="">Select Branch</option>
                                                <option v-for="branch in branches" :value="branch.branch_id">{{ branch.branch_name }}</option>
                                            </select>
                                            <div v-if="errors.branch_id" class="invalid-feedback">{{ errors.branch_id[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/configuration" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                preference:{
                    preference_id:'',
                    bill_prefix:'',
                    bill_no_length:'',
                    bill_pdf:'',
                    transfer_prefix:'',
                    transfer_no_length:'',
                    transfer_pdf:'',
                    transfer_return_prefix:'',
                    transfer_return_no_length:'',
                    transfer_return_pdf:'',
                    invoice_prefix:'',
                    invoice_no_length:'',
                    invoice_pdf:'',
                    receipt_prefix:'',
                    receipt_no_length:'',
                    receipt_pdf:'',
                    voucher_prefix:'',
                    voucher_no_length:'',
                    voucher_pdf:'',
                    payment_prefix:'',
                    payment_no_length:'',
                    payment_pdf:'',
                    fiscal_year:'',
                    discount_on:'',
                    allow_negative_stock:'',
                    discount:'',
                    discount1:'',
                    card_amount:'',
                    card_discount:'',
                    printer_type:'',
                    printer_ip:'',
                    branch_id:'',
                },
                errors:{},
                branches:[]
            }
        },

        mounted(){
            let vm = this;
            vm.getBranches();
        },

        methods:{

            getBranches(){
                let vm = this;
                axios.post('branch/get_branches')
                .then(function (response) {
                    vm.branches = response.data,
                    vm.get_preference()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            get_preference() {
                let vm = this;
                axios.post('preference/get_preference')
                .then(function (response) {
                    vm.preference = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('preference/update',this.preference)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Preference is successfully updated","success");
                    //vm.$emit('windowreload');
                    location.reload();
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>