<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Settings</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group row" v-if="Object.keys(settings).length>0">
                                    <div class="col-md-12 col-form-label">
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <div class="form-group">
                                                <label class="form-check-label">Referral Points</label>
                                                <input type="text" name="referral_points" v-model="settings.referral_points" class="form-control" :class="{'is-invalid': errors.referral_points}">
                                                <div v-if="errors.referral_points" class="invalid-feedback">{{ errors.referral_points[0] }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </main>
</template>
<script>
    export default{
        props: ['setting'],
        data(){
            return{
                settings:this.setting,
                errors:{}
            }
        },
        methods:{
            update(){
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('settings/update',vm.settings)
                .then(function (response) {
                    vm.settings = response.data
                    vm.$vDialog.close(null, key),
                    vm.toast("Settings is successfully updated","success")
                    //vm.$emit('windowreload')
                    location.reload();
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }

</script>
