<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item">Invoice</li>
            <li class="breadcrumb-right">
                <router-link to="/invoice/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Invoices
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Invoice </strong>
                                <strong v-if="status==1">Update Invoice </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="invoice_type">Invoice Type *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.invoice_type}" v-model="invoice.invoice_type" ref="invoice_type">
                                                <option value="">Select Invoice Type</option>
                                                <option v-for="invoice_type in invoice_types" :value="invoice_type.master_value">
                                                    {{ invoice_type.master_value }}
                                                </option>
                                            </select>
                                            <div v-if="errors.invoice_type" class="invalid-feedback">
                                                {{ errors.invoice_type[0] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="invoice_no">Invoice No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.invoice_no}" v-model="invoice.invoice_no" placeholder="Invoice No">
                                            <div v-if="errors.invoice_no" class="invalid-feedback">{{ errors.invoice_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="invoice_date">Invoice Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.invoice_date}" v-model="invoice.invoice_date" placeholder="Invoice Date">
                                            <div v-if="errors.invoice_date" class="invalid-feedback">{{ errors.invoice_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="payment_term_id">Payment Terms *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.payment_term_id}" v-model="invoice.payment_term_id" @click="" >
                                                <option value="" selected="Select Payment Term">Select Payment Term</option>
                                                <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-show="0">
                                        <div class="form-group">
                                            <label for="due_date">Due Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.due_date}" v-model="invoice.due_date" placeholder="Due Date">
                                            <div v-if="errors.due_date" class="invalid-feedback">{{ errors.due_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-show="0">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="invoice.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" v-show="0">
                                        <div class="form-group">
                                            <label for="reference_date">Reference Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.reference_date}" v-model="invoice.reference_date" placeholder="Reference Date">
                                            <div v-if="errors.reference_date" class="invalid-feedback">{{ errors.reference_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            <label for="customer_id">
                                                Customer *
                                                <span class="cursor font-color"  v-b-modal.contact> New Customer </span>
                                                <contactmodal :contact_type="invoice.contact_type"  @contact="selectContact($event)"/>
                                            </label>
                                             <contact :contact_type="invoice.contact_type" :initialize="invoice.contact_name" @input="selectContact($event)" ref="contact_name"></contact>
                                            <div v-if="errors.customer_id" class="invalid-feedback">{{ errors.customer_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="card_no">Card No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.card_no}" v-model="invoice.card_no" placeholder="Card No" @keyup.enter="verifyCard($event)">
                                            <div v-if="errors.card_no" class="invalid-feedback">{{ errors.card_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" v-show="0">
                                        <div class="form-group">
                                            <label for="source_id">Source *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.source_id}" v-model="invoice.source_id">
                                                <option value="">Select Source</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.source_id" class="invalid-feedback">{{ errors.source_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" v-show="0">
                                        <div class="form-group">
                                            <label for="destination_id">Destination *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.destination_id}" v-model="invoice.destination_id">
                                                <option value="">Select Desination</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.destination_id" class="invalid-feedback">{{ errors.destination_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" >
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="24%">Product Name</th>
                                                    <th class="text-center" width="12%">S.Rate(Exc)</th>
                                                    <th class="text-center" width="12%">S.Rate(Inc)</th>
                                                    <th class="text-center" colspan="2" width="15%" >Discount</th>
                                                    <th class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" width="8%">Qty</th>
                                                    <th class="text-center" width="12%">Amount</th>
                                                    <th class="text-center" width="8%">
                                                        <i class="fa fa-exchange"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="9">
                                                        <input class="form-control"  type="text" placeholder="Barcode" v-model='enable_barcode' ref="barcode" @keyup.enter="barcode_enable">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <product :initialize="invoice_product.product_name" @input="selectProduct($event)" ref="product_name"></product>
                                                        <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sales_rate_exc}" type="text" v-model.number="invoice_product.sales_rate_exc" placeholder="S.Rate(Exc)" ref="sales_rate_exc" @keyup="calPurchaseRateInc">
                                                        <div v-if="errors.sales_rate_exc" class="invalid-feedback">{{ errors.sales_rate_exc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sales_rate_inc}" type="text" v-model.number="invoice_product.sales_rate_inc" placeholder="S.Rate(Inc)" @keyup="calPurchaseRateExc">
                                                        <div v-if="errors.sales_rate_inc" class="invalid-feedback">{{ errors.sales_rate_inc[0] }}</div>
                                                    </td>
                                                    <td width="10%">
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="invoice_product.discount" placeholder="Discount" readonly>
                                                        <div v-if="errors.discount" class="invalid-feedback">{{ errors.discount[0] }}</div>
                                                    </td>
                                                    <td width="7%">
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="invoice_product.discount_type" placeholder="Discount Type" disabled>
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                        <div v-if="errors.discount_type" class="invalid-feedback">{{ errors.discount_type[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="invoice_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="quantity" class="form-control" :class="{'is-invalid': errors.quantity}" type="text" v-model.number="invoice_product.quantity" ref="quantity" placeholder="Qty" @keyup.enter="checkRow">

                                                        <div v-if="errors.quantity" class="invalid-feedback">{{ errors.quantity[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="amount" class="form-control" :class="{'is-invalid': errors.amount}" type="text" v-model.number="invoice_product.amount" placeholder="Amount" readonly>
                                                        <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button v-if="invoice_product.status==0" class="btn btn-primary" type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="invoice_product.status==1" class="btn btn-success" type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr v-if="invoice.invoice_products.length != 0" v-for="invoice_product, key in invoice.invoice_products">
                                                    <td>
                                                        {{ invoice_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.sales_rate_exc }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.sales_rate_inc }}
                                                    </td>
                                                    <td class="text-right" colspan="2"> 
                                                        {{ invoice_product.discount }}
                                                        {{ invoice_product.discount_type }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ invoice_product.tax.tax_name }}
                                                    </td>

                                                    <td class="text-right">
                                                        {{ invoice_product.quantity }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.amount }}
                                                    </td>
                                                    <td class="text-center">
                                                        <button class="btn btn-xs btn-success" @click="editRow(invoice_product,key)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-danger" @click="deleteRow(invoice_product,key)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control"  :class="{'is-invalid': errors.term_id}" v-model="invoice.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3">Sub Total</th>
                                                    <th class="text-right" colspan="2">{{ subTotal }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.terms}" v-model="invoice.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th v-if='preference.discount_on =="Exc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount"  readonly>
                                                    </th>
                                                    <th v-if='preference.discount_on =="Exc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type" readonly>
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right"  v-if='preference.discount_on =="Exc"'>Discount</th>
                                                    <th class="text-right" colspan="3" v-if='preference.discount_on =="Exc"'>{{ discountAmount }}</th>
                                                    <th class="text-right" colspan="3" v-if='preference.discount_on =="Inc"'>GST</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on =="Inc"' >{{ taxAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" v-if='preference.discount_on =="Exc"' colspan="3">GST</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on =="Exc"' >{{ taxAmount }}</th>
                                                    <th v-if='preference.discount_on =="Inc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" readonly>
                                                    </th>
                                                    <th v-if='preference.discount_on =="Inc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type" disabled>
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right" v-if='preference.discount_on =="Inc"' >Discount</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on =="Inc"' >{{ discountAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="4" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.note}" v-model="invoice.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                    <th colspan="2">
                                                        <input class="form-control" type="text" v-model.number="roundoff" placeholder="Round off" >
                                                    </th>
                                                    <th class="text-right" >Round off</th>
                                                    <th class="text-right" colspan="2">{{ roundOff }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Grand Total</th>
                                                    <th class="text-right" colspan="2">{{ grandTotal }}</th>
                                                </tr>
                                                
                                                <tr v-if="invoice.invoice_products.length > 0">
                                                    <th class="text-right" colspan="3">Card Discount</th>
                                                    <th class="text-right" colspan="2">{{ invoice.card_discount_amount }}</th>
                                                </tr>
                                                <tr v-if="invoice.invoice_products.length > 0">
                                                    <th class="text-right" colspan="3">Payable Amount</th>
                                                    <th class="text-right" colspan="2">{{ payableAmount }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="invoice.invoice_products.length>0&&taxes.length>0" :products="invoice.invoice_products" :taxes="taxes" :taxtype="invoice.source_id!=invoice.destination_id?'IGST':'GST'" :setting="preference"/>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    import { Product } from '../plugins/product'
    import { Taxable } from '../modal/taxable'
    import { Contactmodal } from '../modal/contactmodal'

    export default{
        components: { Contact, Product, Taxable ,Contactmodal },
        props: ['user', 'org' ,'preference'],
        data(){
            return{
                status: 0,
                invoice:{
                    invoice_id:'',
                    invoice_no:'',
                    invoice_date:new Date().toISOString().slice(0,10),
                    invoice_type:'',
                    due_date:new Date().toISOString().slice(0,10),
                    master_name:'Invoice Type',
                    reference_no:'',
                    reference_date:new Date().toISOString().slice(0,10),
                    customer_id:'',
                    contact_name:'',
                    card_no:'',
                    contact_type:'Customer',
                    source_id:'',
                    destination_id:'',
                    sub_total:'',
                    discount_amount:'',
                    tax_amount:'',
                    total_amount:'',
                    round_off:'',
                    grand_total:'',
                    card_amount:'',
                    card_discount:'',
                    card_discount_amount:0.00,
                    payable_amount:'',
                    note:'',
                    term_id:'',
                    payment_term_id:'',
                    terms:'',
                    reference:'',
                    reference_id:'',
                    invoice_products:[],
                    deleted_invoice_products:[]
                },
                invoice_product: {
                    product_id:'',
                    product_code:'',
                    product_name:'',
                    price_id:'',
                    barcode:'',
                    sales_rate_exc:'',
                    sales_rate_inc:'',
                    discount:'',
                    discount_type:'%',
                    discount_amount:'',
                    tax:{},
                    tax_id:'',
                    tax_amount:'',
                    quantity:'',
                    amount:'',
                    sub_total:'',
                    current_stock:'',
                    key:'',
                    status:0
                },
                selected_contact:{},
                invoice_types:[],
                payment_terms:[],
                places:[],
                taxes:[],
                terms:[],
                errors:{},
                discount_type:'%',
                discount:0,
                roundoff:'',
                enable_barcode:'',
                temp_array:[],
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='invoice-create') {
                next(vm => {
                    vm.$refs.contact_name.focus(),
                    //vm.discount = vm.preference.discount;
                    vm.invoice.card_amount = vm.preference.card_amount;
                    vm.invoice.card_discount = vm.preference.card_discount;
                    vm.getInvoiceNo()
                });
            }
            if(to.name == 'invoice-edit'){
                axios.post(`invoice/view/${to.params.invoice_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getPlaces(),
                        vm.invoice = response.data,
                        vm.invoice.deleted_invoice_products = [],
                        vm.invoice.contact_name = response.data.customer.contact_name,
                        vm.invoice.contact_type = 'Customer',
                        vm.invoice.master_name = 'Invoice Type',
                        //vm.discount = vm.preference.discount;
                        vm.status = 1;

                        vm.invoice.invoice_products.forEach(function(value){
                            return vm.$set(value,'status',1);
                        });

                        //Card Discount
                        vm.selected_contact = response.data.customer;
                        vm.$set(vm.invoice,'card_amount',vm.preference.card_amount);
                        vm.$set(vm.invoice,'card_discount',vm.preference.card_discount);
                        if (vm.invoice.card_discount_amount > 0) {
                            vm.$set(vm.invoice,'card_no',vm.selected_contact.card_no);
                        }
                        vm.temp_array = _.cloneDeep(vm.invoice.invoice_products);
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        watch:{
            'invoice_product.tax_id':function(val){
                let vm = this;
                vm.calPurchaseRateInc();
            },

            'invoice_product.quantity':function(val){
                let vm = this;
                vm.calAmount();
            },

            'invoice_product.discount':function(val){
                let vm = this;
                vm.calAmount();
            },

            'invoice_product.discount_type':function(val){
                let vm = this;
                vm.calAmount();
            },
            'discount_type':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },
            'discount':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },
        },
        computed:{
            subTotal: function(){
                let vm = this;
                let sub_total = (vm.invoice.invoice_products.reduce((prev, cur) => +prev + +cur.amount, 0)).toFixed(2);
                vm.invoice.sub_total = sub_total;
                return sub_total;
            },

            discountAmount: function(){
                let vm = this;
                let discount_amount = (vm.invoice.invoice_products.reduce((prev, cur) => +prev + +cur.discount_amount, 0)).toFixed(2);
                vm.invoice.discount_amount = discount_amount;
                return discount_amount;
            },

            taxAmount: function(){
                let vm = this;
                let tax_amount = (vm.invoice.invoice_products.reduce((prev, cur) => +prev + +cur.tax_amount, 0)).toFixed(2);
                vm.invoice.tax_amount = tax_amount;
                return tax_amount;
            },

            totalAmount: function(){
                let vm = this;
                let total_amount = +vm.subTotal - +vm.discountAmount + +vm.taxAmount;
                vm.invoice.total_amount = total_amount;
                return total_amount;
            },

            roundOff: function(){
                let vm = this;
                let round_off = parseFloat(Math.round(parseFloat(vm.totalAmount.toFixed(1))) - vm.totalAmount).toFixed(2);
                if(vm.roundoff !=''){
                    round_off = parseFloat(parseFloat(round_off) + parseFloat(vm.roundoff)).toFixed(2);
                }
                vm.invoice.round_off = round_off;
                return round_off;
            },

            grandTotal: function(){
                let vm = this;
                let grand_total = Math.round(parseFloat(vm.invoice.total_amount) + parseFloat(vm.invoice.round_off)).toFixed(2);
                vm.invoice.grand_total = grand_total;
                return grand_total;
            },

            payableAmount:function(){
                let vm = this;
                if (vm.invoice.grand_total >= vm.invoice.card_amount && vm.invoice.card_no == vm.selected_contact.card_no) {
                    let card_discount_amount = (vm.invoice.grand_total * (vm.invoice.card_discount/100));
                    let payable_amount = vm.invoice.grand_total - card_discount_amount;
                        vm.invoice.payable_amount = payable_amount;
                        vm.invoice.card_discount_amount = (card_discount_amount).toFixed(2);
                    return payable_amount;
                }else{
                    vm.invoice.payable_amount = vm.invoice.grand_total;
                    vm.$set(vm.invoice,'card_discount_amount',0);
                    return vm.invoice.payable_amount;
                }
                
            }
        },
        
        methods:{
            getInvoiceNo() {
                let vm = this;
                axios.post('invoice/get_invoice_no')
                .then(function (response) {
                    vm.invoice.invoice_no = response.data,
                    vm.getPlaces()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPlaces() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.getTaxes();
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('tax/get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.getTerms();
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('term/get_terms',{ term_type : 'Invoice'})
                .then(function (response) {
                    vm.terms = response.data,
                    vm.getInvoiceTypes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            
            getInvoiceTypes() {
                let vm = this;
                axios.post('master/get_masters',vm.invoice)
                .then(function (response) {
                    vm.invoice_types = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data,
                    vm.setData()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            setData() {
                let vm = this;
                if(vm.status==0) {
                    vm.invoice.invoice_type = vm.invoice_types[0].master_value;
                    vm.invoice.payment_term_id = vm.payment_terms[0].payment_term_id;
                }
            },

            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.invoice.term_id
                });
                // if(term) {
                //     vm.invoice.terms = term[0].term;
                // }
                if(term.length > 0) {
                    vm.invoice.terms = term[0].term;
                }else{
                    vm.$set(vm.invoice,'terms','');
                }
            },

            selectContact(e) {
                let vm = this;
                vm.selected_contact = {};
                vm.$set(vm.invoice,'card_no','');
                const contact = e.target.value;
                vm.invoice.customer_id = contact.contact_id;
                vm.invoice.contact_name = contact.contact_name;
                vm.invoice.source_id = contact.place_id;
                vm.invoice.destination_id = contact.place_id;
                vm.selected_contact = contact ;
                
            },
            verifyCard(e){
                let vm = this;
                if (vm.selected_contact.card_no == e.target.value) {
                    vm.invoice.card_no = vm.selected_contact.card_no;
                    vm.toast('Card Discount Applied','success')
                }else{
                    vm.$set(vm.invoice,'card_no','');
                    vm.toast('Not a valid card','error')
                }
                
            },

            selectProduct(e) {
                let vm = this;
                const price = e.target.value;
                vm.invoice_product.product_id = price.product.product_id;
                vm.invoice_product.product_code = price.product.product_code;
                vm.invoice_product.product_name = price.product.product_name;
                vm.invoice_product.price_id = price.price_id;
                vm.invoice_product.barcode = price.barcode;
                vm.invoice_product.sales_rate_exc = price.sales_rate_exc;
                vm.invoice_product.sales_rate_inc = price.sales_rate_inc;
                //vm.invoice_product.discount = 0;
                vm.invoice_product.discount = price.product.discount;
                vm.invoice_product.discount_type = '%';
                vm.invoice_product.tax = price.tax;
                vm.invoice_product.tax_id = price.tax.tax_id;
                vm.invoice_product.current_stock = price.current_stock;
                vm.$refs.quantity.focus();
            },

            calPurchaseRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.invoice_product.tax_id 
                });
                vm.invoice_product.tax = tax[0];
                let tax_amount = ((vm.invoice_product.sales_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.invoice_product.sales_rate_inc = (+tax_amount + +vm.invoice_product.sales_rate_exc).toFixed(2);
                vm.calAmount();
            },

            calPurchaseRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.invoice_product.tax_id 
                });
                vm.invoice_product.sales_rate_exc = (vm.invoice_product.sales_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                vm.calAmount();
            },

            calAmount() {
                let vm = this;
                vm.invoice_product.amount = (vm.invoice_product.sales_rate_exc * vm.invoice_product.quantity).toFixed(2);
                vm.calSubTotal();
            },

            calSubTotal(){
                let vm = this;
                let amount = vm.invoice_product.amount;
                if(vm.preference.discount_on  == 'Exc'){

                    vm.invoice_product.discount_amount = vm.calDiscount(amount);
                    amount = parseFloat(amount - vm.invoice_product.discount_amount);
                    vm.invoice_product.tax_amount = parseFloat(vm.calTax(amount));
                    amount = parseFloat(amount) + parseFloat(vm.invoice_product.tax_amount);
                    vm.invoice_product.sub_total = parseFloat(amount).toFixed(2);
                }else{

                    vm.invoice_product.tax_amount = vm.calTax(amount);
                    amount = parseFloat(amount) + parseFloat(vm.invoice_product.tax_amount);
                    vm.invoice_product.discount_amount = vm.calDiscount(amount);
                    //vm.invoice_product.discount_amount = parseFloat(vm.calDiscount(amount));
                    amount = parseFloat(amount) - parseFloat(vm.invoice_product.discount_amount);
                    vm.invoice_product.sub_total = parseFloat(amount).toFixed(2);
                }
            },

            calDiscount(amount) {
                let vm = this;
                let dis = 0;
                if(vm.invoice_product.discount_type=='%') {
                    dis = ((amount * vm.invoice_product.discount)/100).toFixed(2);
                }
                else {
                    dis = vm.invoice_product.discount;
                }
                return dis;
            },

            calTax(amount) {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.invoice_product.tax_id 
                });
                let tax_amount = ((amount * tax[0].tax_rate)/100).toFixed(2);
                return tax_amount;
            },

            calDiscountAmount(){
                let vm = this;
                let invoice_products = vm.invoice.invoice_products;
                // // New Requirement
                // let total_qty = _.reduce(invoice_products,function(carry,val){
                //     return carry+val['quantity'];
                // },0);

                // if (total_qty > 1) {
                //     vm.discount = vm.preference.discount1;
                // }else{
                //     vm.discount = vm.preference.discount;
                // }

                _.forEach(invoice_products, function(value, key) {
                    let vm = this;
                    value.amount = (parseFloat(value.sales_rate_exc) * parseFloat(value.quantity)).toFixed(2);
                    calSubTotal(value); 
                });
                function calSubTotal(value){
                    let amount = value.amount;
                    if(vm.preference.discount_on  == 'Exc'){

                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);

                    }else{

                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);
                    }
                }
                function calTax(value,amount) {
                    let tax = vm.taxes.filter(function (el) {
                        return el.tax_id == value.tax_id ;
                    });
                    let tax_amount = parseFloat((amount * tax[0].tax_rate)/100).toFixed(2);
                    return tax_amount;
                }
                function calDiscount(value,amount) {
                    let dis = 0;
                    value.discount_type = vm.discount_type;
                    value.discount = parseInt(vm.discount);
                    if(value.discount_type=='%') {
                        dis = parseFloat((amount * vm.discount)/100).toFixed(2);
                    }
                    else {
                        dis = parseFloat(vm.discount).toFixed(2);
                    }
                    return dis;
                }
            },
            checkRow() {
                let vm = this;
                if(vm.invoice_product.status==0){
                    vm.addRow();
                }
                else{
                    vm.updateRow();
                }
            },

            barcode_enable(){
                let vm = this;
                if(vm.enable_barcode != ''){
                    axios.post('product/get_barcode',{barcode:vm.enable_barcode})
                    .then(function (response) {
                        vm.enable_barcode = '';
                        if (response.data) {
                            const price = response.data;
                            vm.invoice_product.product_id = price.product.product_id;
                            vm.invoice_product.product_code = price.product.product_code;
                            vm.invoice_product.product_name = price.product.product_name;
                            vm.invoice_product.price_id = price.price_id;
                            vm.invoice_product.barcode = price.barcode;
                            vm.invoice_product.sales_rate_exc = price.sales_rate_exc;
                            vm.invoice_product.sales_rate_inc = price.sales_rate_inc;
                            //vm.invoice_product.discount = 0;
                            vm.invoice_product.discount = price.product.discount;
                            vm.invoice_product.discount_type = '%';
                            vm.invoice_product.tax = price.tax;
                            vm.invoice_product.tax_id = price.tax.tax_id;
                            vm.invoice_product.quantity =1;
                            vm.invoice_product.status =0;
                            vm.invoice_product.current_stock = price.current_stock;
                            //vm.$refs.quantity.focus();
                            vm.checkRow();
                        }else{
                            vm.toast('Barcode Not Found','error')
                            vm.$refs.barcode.value = ''
                        }
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
            },

            addRow() {
                let vm = this;
                vm.errors = [];
                let filter_product = _.find(vm.invoice.invoice_products,  function (el,index){
                        if(el.price_id == vm.invoice_product.price_id){
                            el.key = index;
                            return  el;
                        }
                    });
               
                //Negetive Stock Check
                let filter = vm.invoice.invoice_products.filter(function (el) {
                    return el.price_id == vm.invoice_product.price_id 
                });

                let quantity = _.map(filter, 'quantity');
                let sum = _.sum(quantity)+vm.invoice_product.quantity;

                //Negetive Check
                if(vm.preference.allow_negative_stock =='Yes'){
                    RowData(); 
                }
                else
                {
                    if (sum <= vm.invoice_product.current_stock.opening_stock) {
                        RowData(); 
                    }else{
                        vm.toast('Branch Stock Exceeded','error');
                    }
                }

                function RowData(){
                    if(!_.isUndefined(filter_product)){
                        updateCurrentRow()
                    }else{
                        addRow()
                    } 
                }

                function updateCurrentRow() {
                    var qty = 0;
                    qty = vm.invoice_product.quantity;
                    vm.invoice_product = filter_product;
                    vm.invoice_product.quantity = filter_product.quantity+qty;
                    vm.$set(vm.invoice_product,'key',filter_product.key);
                    vm.$set(vm.invoice_product,'status',1);
                    vm.$nextTick(function () {
                        vm.checkRow();
                    });
                }


                function addRow(){
                    axios.post('invoice/validation',vm.invoice_product)
                    .then(function (response) {
                        vm.invoice.invoice_products.push(response.data),
                        //vm.calDiscountAmount();
                        vm.discardInvoiceProduct()
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
            }, 

            editRow(invoice_product, key) {
                let vm = this;
                vm.invoice_product = invoice_product;
                vm.invoice_product.status = 1;
                vm.invoice_product.key = key;
            },

            updateRow() {
                let vm = this;
                vm.errors = [];
                //Negetive Stock Check
                let filter = vm.invoice.invoice_products.filter(function (el) {

                    return el.price_id == vm.invoice_product.price_id 
                });
                
                let quantity = _.map(filter, 'quantity');
                let sum = _.sum(quantity);

                let temp_invoice_product = [];

                

                if(vm.preference.allow_negative_stock =='Yes'){
                    updateRow(); 
                }
                else
                {
                    // if (vm.invoice_product.current_stock.opening_stock > 0 && sum <= vm.invoice_product.current_stock.opening_stock) {
                    //     updateRow(); 
                    // }else{
                    //     vm.toast('Stock Exceeded','error');
                    // }
                    if (vm.status == 1) {
                        temp_invoice_product = vm.temp_array.filter(function(val){
                            return val.price_id == vm.invoice_product.price_id;
                        });
                        
                        let total_qty = temp_invoice_product[0].quantity+vm.invoice_product.current_stock.opening_stock;

                        if (vm.invoice_product.quantity <= total_qty) {
                            updateRow(); 
                        }else{
                            vm.toast('Stock Exceeded','error');
                            vm.invoice_product.quantity = temp_invoice_product[0].quantity;
                        }
                    }else{
                        if (sum <= vm.invoice_product.current_stock.opening_stock) {
                            updateRow(); 
                        }else{
                            vm.toast('Stock Exceeded','error');
                            vm.invoice_product.quantity = 0;
                        }
                    }

                }

                function updateRow(){
                    axios.post('invoice/validation',vm.invoice_product)
                    .then(function (response) {
                        vm.invoice.invoice_products.splice(response.data.key,1,response.data),
                        //vm.calDiscountAmount();
                        vm.discardInvoiceProduct()
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
                
            },

            deleteRow(invoice_product,key) {
                let vm = this;
                vm.invoice.deleted_invoice_products.push(invoice_product),
                vm.invoice.invoice_products.splice(key, 1);
                vm.discardInvoiceProduct();
            },

            discardInvoiceProduct(){
                let vm = this;
                
                vm.invoice_product = {};
                vm.$set(vm.invoice_product,'product_id','');
                vm.$set(vm.invoice_product,'product_code','');
                vm.$set(vm.invoice_product,'product_name','');
                vm.$set(vm.invoice_product,'price_id','');
                vm.$set(vm.invoice_product,'sales_rate_exc','');
                vm.$set(vm.invoice_product,'sales_rate_inc','');
                vm.$set(vm.invoice_product,'discount',0);
                vm.$set(vm.invoice_product,'discount_type','%');
                vm.$set(vm.invoice_product,'discount_amount','');
                vm.$set(vm.invoice_product,'tax',{});
                vm.$set(vm.invoice_product,'tax_id',vm.taxes[0].tax_id);
                vm.$set(vm.invoice_product,'tax_amount','');
                vm.$set(vm.invoice_product,'quantity','');
                vm.$set(vm.invoice_product,'amount','');
                vm.$set(vm.invoice_product,'sub_total','');
                vm.$set(vm.invoice_product,'key','');
                vm.$set(vm.invoice_product,'status',0);
                vm.errors={};
                vm.$refs.barcode.focus()
                // vm.preference.enable_barcode =='Yes'?vm.$refs.barcode.focus():vm.$refs.product_name.focus();
            },

            save() {
                let vm = this;
                if (vm.invoice.invoice_products.length > 0) {
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post('invoice/store',vm.invoice)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Invoice successfully created","success");
                        vm.$router.push(`/invoice/view/${response.data.invoice_id}`)
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.errors = error.response.data.errors
                        vm.toast(error.response.data.message,'error')
                    });
                }else{
                    vm.toast('Add products for Invoice','error');
                }
                
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('invoice/update',vm.invoice)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("invoice successfully updated","success"),
                    vm.$router.push(`/invoice/view/${vm.invoice.invoice_id}`)
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            discard() {
                let vm = this;
                vm.$router.push('/invoice/display');
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
        },
    }
    
</script>
