<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Invoice</li>
            <li class="breadcrumb-right">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Invoice : 
                                <strong>{{ invoice.invoice_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ invoice.invoice_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="pdf" width="100%" height="500" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default{
        props: ['org','user'],
        data(){
            return{
                invoice:{},
                redirect_back:'',
                errors:{},
                pdf:''
            }
        },
        beforeRouteEnter(to, from, next) {
            axios.post(`invoice/view/${to.params.invoice_id}`)
            .then(function (response) {
                next(vm => {
                    vm.invoice = response.data,
                    vm.pdf = "invoice/pdf/" + vm.invoice.invoice_id
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        methods:{
            // preview() {
            //  let vm = this;
            //  vm.$router.push(`/invoice/preview/${vm.invoice.invoice_id}`);
            // },

            edit() {
                let vm = this;
                vm.$router.push(`/invoice/edit/${vm.invoice.invoice_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`invoice/destroy/${vm.invoice.invoice_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Invoice successfully deleted","success"),
                        vm.$router.push('/invoice/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>