<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Invoice</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button class="btn btn-xs btn-info" @click="changeType('pdf')">
                    PDF
                </button>
                <button class="btn btn-xs btn-warning" @click="changeType('excel')">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button class="btn btn-xs btn-danger" @click="discard">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Invoice</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="380" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="customer_id">Customer</label>
                        <contact :contact_type="report.contact_type" :initialize="report.contact_name" @input="selectContact($event)" ref="contact_name"></contact>
                    </div>
                </div>
                <div class="col-sm-12" v-if="user.user_role == 'Super Admin'">
                    <div class="form-group">
                        <label for="branch_id">Branch </label>
                        <select class="form-control" v-model="report.branch_id">
                            <option value="">Select Branch</option>
                            <option v-for="branch in branches" :value="branch.branch_id">{{ branch.branch_name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="report_type">Report Type*</label>
                        <select class="form-control" v-model="report.report_type">
                            <option value="">Select Report Type</option>
                            <option value="Brief Report">Brief Report</option>
                            <option value="Detail Report">Detail Report</option>
                        </select>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props:['user'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    display_type:'display',
                    report_type:'Brief Report',
                    customer_id:'',
                    contact_name:'',
                    contact_type:'Customer',
                    branch_id:'',
                },
                branches:[],
                errors:[]
            }
        },

        mounted(){
            let vm = this;
            vm.getData();
            vm.getBranches();
        },
        
        methods:{

            changeType(display_type) {
                let vm = this;
                vm.$set(vm.report,'display_type',display_type);
                vm.getData();
            },
            selectContact(e){
                let vm = this;
                const contact = e.target.value;
                vm.report.customer_id = contact.contact_id;
                vm.report.contact_name = contact.contact_name;
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getData();
            },

            getData() {
                let vm = this;
                let source = 'invoice/report/?from_date=' + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type + '&customer_id=' + vm.report.customer_id + '&branch_id=' + vm.report.branch_id;
                vm.$set(vm.report,'source',source);
            },

            discard(){
                location.reload(true);
            },

            getBranches() {
            let vm = this;
                axios.post('branch/get_branches')
                .then(function (response) {
                    vm.branches = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$dlg.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>