<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item">Transfer Return</li>
            <li class="breadcrumb-right">
                <router-link to="/transfer_return/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Transfer Returns
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Transfer Return </strong>
                                <strong v-if="status==1">Update Transfer Return </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="transfer_return_no">Transfer Return No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.transfer_return_no}" v-model="transfer_return.transfer_return_no" placeholder="Transfer Return No">
                                            <div v-if="errors.transfer_return_no" class="invalid-feedback">{{ errors.transfer_return_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="transfer_return_date">Transfer Return Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.transfer_return_date}" v-model="transfer_return.transfer_return_date" placeholder="Transfer Return Date">
                                            <div v-if="errors.transfer_return_date" class="invalid-feedback">{{ errors.transfer_return_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="branch_id">Branch *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.branch_id}" v-model="transfer_return.branch_id">
                                                <option value="">Select Branch</option>
                                                <option v-for="branch in branches" :value="branch.branch_id">{{ branch.branch_name }}</option>
                                            </select>
                                            <div v-if="errors.branch_id" class="invalid-feedback">{{ errors.branch_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="24%">Product Name</th>
                                                    <th class="text-center" width="12%">S.Rate(Exc)</th>
                                                    <th class="text-center" width="12%">S.Rate(Inc)</th>
                                                    <th class="text-center" colspan="2" width="15%">Discount</th>
                                                    <th class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" width="8%">Qty</th>
                                                    <th class="text-center" width="12%">Amount</th>
                                                    <th class="text-center" width="8%">
                                                        <i class="fa fa-exchange"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="10">
                                                        <input class="form-control"  type="text" placeholder="Barcode" v-model='enable_barcode' ref="barcode" @keyup.enter="barcode_enable">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <product :initialize="transfer_return_product.product_name" @input="selectProduct($event,'')" ref="product_name" ></product>
                                                        <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sales_rate_exc}" type="text" v-model.number="transfer_return_product.sales_rate_exc" placeholder="P.Rate(Exc)" ref="sales_rate_exc" @keyup="calPurchaseRateInc">
                                                        <div v-if="errors.sales_rate_exc" class="invalid-feedback">{{ errors.sales_rate_exc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.sales_rate_inc}" type="text" v-model.number="transfer_return_product.sales_rate_inc" placeholder="P.Rate(Inc)" @keyup="calPurchaseRateExc">
                                                        <div v-if="errors.sales_rate_inc" class="invalid-feedback">{{ errors.sales_rate_inc[0] }}</div>
                                                    </td>
                                                    <td width="10%">
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="transfer_return_product.discount" placeholder="Discount">
                                                        <div v-if="errors.discount" class="invalid-feedback">{{ errors.discount[0] }}</div>
                                                    </td>
                                                    <td width="7%">
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="transfer_return_product.discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                        <div v-if="errors.discount_type" class="invalid-feedback">{{ errors.discount_type[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="transfer_return_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="quantity" class="form-control" :class="{'is-invalid': errors.quantity}" type="text" v-model.number="transfer_return_product.quantity" placeholder="Qty" @keyup.enter="checkRow" ref="quantity">
                                                        <div v-if="errors.quantity" class="invalid-feedback">{{ errors.quantity[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="amount" class="form-control" :class="{'is-invalid': errors.amount}" type="text" v-model.number="transfer_return_product.amount" placeholder="Amount" readonly>
                                                        <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button v-if="transfer_return_product.status==0" class="btn btn-primary" type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="transfer_return_product.status==1" class="btn btn-success" type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr v-if="transfer_return.transfer_return_products.length != 0" v-for="transfer_return_product, key in transfer_return.transfer_return_products">
                                                    <td>
                                                        {{ transfer_return_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_return_product.sales_rate_exc }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_return_product.sales_rate_inc }}
                                                    </td>
                                                    <td class="text-right" colspan="2">
                                                        {{ transfer_return_product.discount }}
                                                        {{ transfer_return_product.discount_type }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{ transfer_return_product.tax.tax_name }}
                                                    </td>

                                                    <td class="text-right">
                                                        {{ transfer_return_product.quantity }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_return_product.amount }}
                                                    </td>
                                                    <td class="text-center">
                                                        <button class="btn btn-xs btn-success" @click="editRow(transfer_return_product,key)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-danger" @click="deleteRow(transfer_return_product,key)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control"  :class="{'is-invalid': errors.term_id}" v-model="transfer_return.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3">Sub Total</th>
                                                    <th class="text-right" colspan="2">{{ subTotal }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.terms}" v-model="transfer_return.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th v-if='preference.discount_on=="Exc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='preference.discount_on=="Exc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right"  v-if='preference.discount_on=="Exc"'>Discount</th>
                                                    <th class="text-right" colspan="3" v-if='preference.discount_on=="Exc"'>{{ discountAmount }}</th>
                                                    <th class="text-right" colspan="3" v-if='preference.discount_on=="Inc"'>GST</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on=="Inc"' >{{ taxAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" v-if='preference.discount_on=="Exc"' colspan="3">GST</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on=="Exc"' >{{ taxAmount }}</th>
                                                    <th v-if='preference.discount_on=="Inc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='preference.discount_on=="Inc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right" v-if='preference.discount_on=="Inc"' >Discount</th>
                                                    <th class="text-right" colspan="2" v-if='preference.discount_on=="Inc"' >{{ discountAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.note}" v-model="transfer_return.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                    <th colspan="2">
                                                        <input class="form-control" type="text" v-model.number="roundoff" placeholder="Round off" >
                                                    </th>
                                                    <th class="text-right" >Round off</th>
                                                    <th class="text-right" colspan="2">{{ roundOff }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Grand Total</th>
                                                    <th class="text-right" colspan="2">{{ grandTotal }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                <taxable v-if="transfer_return.transfer_return_products.length>0&&taxes.length>0" :products="transfer_return.transfer_return_products" :taxes="taxes" :taxtype="transfer_return.source_id!=transfer_return.destination_id?'IGST':'GST'" :setting="preference"/>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Product } from '../plugins/product'
    import { Taxable } from '../modal/taxable'
    export default{
        components: { Product, Taxable },
        props: ['user', 'org','preference'],
        data(){
            return{
                status: 0,
                transfer_return:{
                    transfer_return_id:'',
                    transfer_return_no:'',
                    transfer_return_date:new Date().toISOString().slice(0,10),
                    branch_id:'',
                    sub_total:'',
                    discount_amount:'',
                    tax_amount:'',
                    total_amount:'',
                    round_off:'',
                    grand_total:'',
                    note:'',
                    term_id:'',
                    terms:'',
                    transfer_return_products:[],
                    deleted_transfer_return_products:[]
                },
                transfer_return_product: {
                    product_id:'',
                    product_code:'',
                    product_name:'',
                    price_id:'',
                    barcode:'',
                    sales_rate_exc:'',
                    sales_rate_inc:'',
                    discount:'',
                    discount_type:'%',
                    discount_amount:'',
                    tax:{},
                    tax_id:'',
                    tax_amount:'',
                    quantity:'',
                    amount:'',
                    sub_total:'',
                    key:'',
                    current_stock:'',
                    temp_qty :'',
                    status:0
                },
                branches:[],
                payment_terms:[],
                taxes:[],
                terms:[],
                errors:{},
                discount_type:'%',
                discount:'',
                roundoff:'',
                enable_barcode:'',
                temp_array:[],
            }
        }, 

        beforeRouteEnter(to, from, next) {
            if(to.name=='transfer-return-create') {
                next(vm => {
                    vm.getTransferNo()
                });
            }else 
            if(to.name == 'transfer-return-edit'){
                axios.post(`transfer_return/view/${to.params.transfer_return_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getBranches(),
                        vm.transfer_return = response.data,
                        vm.transfer_return.deleted_transfer_return_products = [],
                        vm.status = 1;
                        vm.$refs.barcode.focus();
                        // prevent two-way bind assign
                        vm.temp_array = _.cloneDeep(vm.transfer_return.transfer_return_products);
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }else{
                 next(vm => {
                    let url = to.name.replace(/-/g,"/");
                    let ref = _.split(to.name, '-', 1);
                    axios.post(`${url}`,JSON.parse(to.query.query))
                    .then(function (response) {
                        //vm.convertTotransfer(response.data,ref),
                        vm.$refs.reference_no.focus()
                    })
                    .catch(function (error) {
                        vm.toast(error.message,'error')
                    });
                    
                });
            }
        },

        watch:{
            'transfer_return_product.tax_id':function(val){
                let vm = this;
                vm.calPurchaseRateInc();
            },

            'transfer_return_product.quantity':function(val){
                let vm = this;
                vm.calAmount();
            },

            'transfer_return_product.discount':function(val){
                let vm = this;
                vm.calAmount();
            },

            'transfer_return_product.discount_type':function(val){
                let vm = this;
                vm.calAmount();
            },
            'discount_type':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },
            'discount':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },
        },

        computed:{
            subTotal: function(){
                let vm = this;
                let sub_total = (vm.transfer_return.transfer_return_products.reduce((prev, cur) => +prev + +cur.amount, 0)).toFixed(2);
                vm.transfer_return.sub_total = sub_total;
                return sub_total;
            },

            discountAmount: function(){
                let vm = this;
                let discount_amount = (vm.transfer_return.transfer_return_products.reduce((prev, cur) => +prev + +cur.discount_amount, 0)).toFixed(2);
                vm.transfer_return.discount_amount = discount_amount;
                return discount_amount;
            },

            taxAmount: function(){
                let vm = this;
                let tax_amount = (vm.transfer_return.transfer_return_products.reduce((prev, cur) => +prev + +cur.tax_amount, 0)).toFixed(2);
                vm.transfer_return.tax_amount = tax_amount;
                return tax_amount;
            },

            totalAmount: function(){
                let vm = this;
                let total_amount = +vm.subTotal - +vm.discountAmount + +vm.taxAmount;
                vm.transfer_return.total_amount = total_amount;
                return total_amount;
            },

            roundOff: function(){
                let vm = this;
                let round_off = parseFloat(Math.round(parseFloat(vm.totalAmount.toFixed(1))) - vm.totalAmount).toFixed(2);
                if(vm.roundoff !=''){
                    round_off = parseFloat(parseFloat(round_off) + parseFloat(vm.roundoff)).toFixed(2);
                }
                vm.transfer_return.round_off = round_off;
                return round_off;
            },

            grandTotal: function(){
                let vm = this;
                let grand_total = Math.round(parseFloat(vm.transfer_return.total_amount) + parseFloat(vm.transfer_return.round_off)).toFixed(2);
                vm.transfer_return.grand_total = grand_total;
                return grand_total;
            }
        },
        
        methods:{
            getTransferNo() {
                let vm = this;
                axios.post('transfer_return/get_transfer_return_no')
                .then(function (response) {
                    vm.transfer_return.transfer_return_no = response.data,
                    vm.getBranches()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            getBranches() {
                let vm = this;
                axios.post('branch/get_branches')
                .then(function (response) {
                    vm.branches = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('tax/get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.getTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('term/get_terms',{ term_type : 'Transfer Return'})
                .then(function (response) {
                    vm.terms = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.transfer_return.term_id
                });
                
                if(term.length > 0) {
                    vm.transfer_return.terms = term[0].term;
                }else{
                    vm.$set(vm.transfer_return,'terms','');
                }
            },
            barcode_enable(){
                let vm = this;
                if(vm.enable_barcode != ''){
                    axios.post('product/get_barcode',{barcode:vm.enable_barcode})
                    .then(function (response) {
                        if (response.data) {
                            const price = response.data;
                            vm.selectProduct('',price);
                        }else{
                            vm.toast('Barcode not found','error')
                            vm.$refs.barcode.value = ''
                        }
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
            },
            selectProduct(e,product_data) {
                let vm = this;
                var price = '';
                if (product_data) {
                     price = product_data
                }else{
                     price = e.target.value;
                }
                vm.transfer_return_product.product_id = price.product.product_id;
                vm.transfer_return_product.product_code = price.product.product_code;
                vm.transfer_return_product.product_name = price.product.product_name;
                vm.transfer_return_product.price_id = price.price_id;
                vm.transfer_return_product.barcode = price.barcode;
                vm.transfer_return_product.sales_rate_exc = price.sales_rate_exc;
                vm.transfer_return_product.sales_rate_inc = price.sales_rate_inc;
                vm.transfer_return_product.discount = 0;
                vm.transfer_return_product.discount_type = '%';
                vm.transfer_return_product.tax = price.tax;
                vm.transfer_return_product.tax_id = price.tax.tax_id;
                vm.transfer_return_product.current_stock = price.current_stock;
                vm.$set(vm.transfer_return_product,'enable_barcode',price.barcode);
                vm.$refs.quantity.focus();

            },

            calPurchaseRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.transfer_return_product.tax_id 
                });
                vm.transfer_return_product.tax = tax[0];
                let tax_amount = ((vm.transfer_return_product.sales_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.transfer_return_product.sales_rate_inc = (+tax_amount + +vm.transfer_return_product.sales_rate_exc).toFixed(2);
                vm.calAmount();
            },

            calPurchaseRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.transfer_return_product.tax_id 
                });
                vm.transfer_return_product.sales_rate_exc = (vm.transfer_return_product.sales_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                vm.calAmount();
            },

            calAmount() {
                let vm = this;
                vm.transfer_return_product.amount = (vm.transfer_return_product.sales_rate_exc * vm.transfer_return_product.quantity).toFixed(2);
                vm.calSubTotal();
            },

            calSubTotal(){
                let vm = this;
                let amount = vm.transfer_return_product.amount;
                if(vm.preference.discount_on == 'Exc'){

                    vm.transfer_return_product.discount_amount = parseFloat(vm.calDiscount(amount));
                    amount = parseFloat(amount) - parseFloat(vm.transfer_return_product.discount_amount);
                    vm.transfer_return_product.tax_amount = parseFloat(vm.calTax(amount));
                    amount = parseFloat(amount) + parseFloat(vm.transfer_return_product.tax_amount);
                    vm.transfer_return_product.sub_total = parseFloat(amount).toFixed(2);
                }else{

                    vm.transfer_return_product.tax_amount = parseFloat(vm.calTax(amount));
                    amount = parseFloat(amount) + parseFloat(vm.transfer_return_product.tax_amount);
                    vm.transfer_return_product.discount_amount = parseFloat(vm.calDiscount(amount));
                    amount = parseFloat(amount) - parseFloat(vm.transfer_return_product.discount_amount);
                    vm.transfer_return_product.sub_total = parseFloat(amount).toFixed(2);
                }
            },

            calDiscount(amount) {
                let vm = this;
                let dis = 0;
                if(vm.transfer_return_product.discount_type=='%') {
                    dis = ((amount * vm.transfer_return_product.discount)/100).toFixed(2);
                }
                else {
                    dis = vm.transfer_return_product.discount;
                }
                return dis;
                //vm.calTax();
            },

            calTax(amount) {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.transfer_return_product.tax_id 
                });
                let tax_amount = ((amount * tax[0].tax_rate)/100).toFixed(2);
                return tax_amount;
            },

            calDiscountAmount(){
                let vm = this;
                let transfer_return_products = vm.transfer_return.transfer_return_products;
                _.forEach(transfer_return_products, function(value, key) {
                    let vm = this;
                    value.amount = (parseFloat(value.sales_rate_exc) * parseFloat(value.quantity)).toFixed(2);
                    
                    calSubTotal(value); 
                });
                function calSubTotal(value){
                    let amount = value.amount;
                    
                    if(vm.preference.discount_on == 'Exc'){

                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);

                    }else{

                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);
                    }
                }
                function calTax(value,amount) {
                    let tax = vm.taxes.filter(function (el) {
                        return el.tax_id == value.tax_id ;
                    });
                    let tax_amount = parseFloat((amount * tax[0].tax_rate)/100).toFixed(2);
                    return tax_amount;
                }
                function calDiscount(value,amount) {
                    let dis = 0;
                    value.discount_type = vm.discount_type;
                    value.discount = parseInt(vm.discount);
                    if(value.discount_type=='%') {
                        dis = parseFloat((amount * vm.discount)/100).toFixed(2);
                    }
                    else {
                        dis = parseFloat(vm.discount).toFixed(2);
                    }
                    return dis;
                }
            },

            checkRow() {
                let vm = this;
                if(vm.transfer_return_product.status==0){
                    vm.addRow();
                }
                else{
                    vm.updateRow();
                }
            },

            addRow() {
                let vm = this;
                let filter_product = _.find(vm.transfer_return.transfer_return_products,  function (el,index)  {
                    if(el.price_id == vm.transfer_return_product.price_id){
                        el.key = index;
                        return  el;
                    }
                });

                //Negetive Stock Check
                let filter = vm.transfer_return.transfer_return_products.filter(function (el) {
                    return el.price_id == vm.transfer_return_product.price_id 
                });

                let quantity = _.map(filter, 'quantity');

                let sum = _.sum(quantity)+vm.transfer_return_product.quantity;

                let a = _.sum(quantity)+vm.transfer_return_product.current_stock.opening_stock;

                //Negetive Check
                if(vm.preference.allow_negative_stock =='Yes'){
                    RowData(); 
                }
                else
                {
                    if (vm.status == 1) {
                       
                        if (vm.transfer_return_product.quantity <= a) {
                            RowData(); 
                        }else{
                            vm.toast('Stock Exceeded','error');
                        }
                    }else{
                        
                        if (sum <= vm.transfer_return_product.current_stock.opening_stock) {
                            RowData(); 
                        }else{
                            vm.toast('Stock Exceeded','error');
                        }
                    }
                    
                }

                function RowData(){
                    if(!_.isUndefined(filter_product)){
                        updateCurrentRow()
                    }else{
                        addRow()
                    } 
                }

                function updateCurrentRow() {
                    var qty = 0;
                    qty = vm.transfer_return_product.quantity;
                    vm.transfer_return_product = filter_product;
                    vm.transfer_return_product.quantity = filter_product.quantity+qty;
                    vm.$set(vm.transfer_return_product,'key',filter_product.key)
                    vm.$set(vm.transfer_return_product,'status',1);
                    vm.$nextTick(function () {
                        vm.checkRow();
                    }); 
                }

                function addRow(){
                    axios.post('transfer_return/validation',vm.transfer_return_product)
                    .then(function (response) {
                        vm.transfer_return.transfer_return_products.push(response.data),
                        vm.discardTransferProduct()
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
            }, 

            editRow(transfer_return_product, key) {
                let vm = this;
                vm.transfer_return_product = transfer_return_product;
                vm.transfer_return_product.status = 1;
                vm.transfer_return_product.key = key;
                
            },

            updateRow() {
                let vm = this;

                //Negetive Stock Check
                let filter = vm.transfer_return.transfer_return_products.filter(function (el) {
                    return el.price_id == vm.transfer_return_product.price_id 
                });
                
                let quantity = _.map(filter, 'quantity');
                let sum = _.sum(quantity);      
                let temp_transfer_return_product = [];
  

                if(vm.preference.allow_negative_stock =='Yes'){
                    updateRow(); 
                }
                else
                {
                    if (vm.status == 1) {

                        temp_transfer_return_product = vm.temp_array.filter(function(val){
                            return val.price_id == vm.transfer_return_product.price_id;
                        });

                        let total_qty = temp_transfer_return_product[0].quantity+vm.transfer_return_product.current_stock.opening_stock;

                        if (vm.transfer_return_product.quantity <= total_qty) {
                            updateRow(); 
                        }else{
                            vm.toast('Stock Exceeded','error');
                            vm.transfer_return_product.quantity = temp_transfer_return_product[0].quantity;
                        }
                    }else{
                        if (sum <= vm.transfer_return_product.current_stock.opening_stock) {
                            updateRow(); 
                        }else{
                            vm.toast('Stock Exceeded','error');
                            vm.transfer_return_product.quantity = 0;
                        }
                    }
                }

                function updateRow(){
                    axios.post('transfer_return/validation',vm.transfer_return_product)
                    .then(function (response) {
                        vm.transfer_return.transfer_return_products.splice(response.data.key,1,response.data),
                        vm.discardTransferProduct()
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }

            },

            deleteRow(transfer_return_product,key) {
                let vm = this;
                vm.transfer_return.deleted_transfer_return_products.push(transfer_return_product),
                vm.transfer_return.transfer_return_products.splice(key, 1);
                vm.discardTransferProduct();
            },

            discardTransferProduct(){
                let vm = this;
                vm.transfer_return_product = {};
                vm.$set(vm.transfer_return_product,'product_id','');
                vm.$set(vm.transfer_return_product,'product_code','');
                vm.$set(vm.transfer_return_product,'product_name','');
                vm.$set(vm.transfer_return_product,'price_id','');
                vm.$set(vm.transfer_return_product,'barcode','');
                vm.$set(vm.transfer_return_product,'sales_rate_exc','');
                vm.$set(vm.transfer_return_product,'sales_rate_inc','');
                vm.$set(vm.transfer_return_product,'discount','');
                vm.$set(vm.transfer_return_product,'discount_type','%');
                vm.$set(vm.transfer_return_product,'discount_amount','');
                vm.$set(vm.transfer_return_product,'tax',{});
                vm.$set(vm.transfer_return_product,'tax_id',vm.taxes[0].tax_id);
                vm.$set(vm.transfer_return_product,'tax_amount','');
                vm.$set(vm.transfer_return_product,'quantity','');
                vm.$set(vm.transfer_return_product,'amount','');
                vm.$set(vm.transfer_return_product,'sub_total','');
                vm.$set(vm.transfer_return_product,'key','');
                vm.$set(vm.transfer_return_product,'status',0);
                vm.$set(vm.transfer_return_product,'current_stock','');
                vm.$set(vm.transfer_return_product,'product_add_type','');
                vm.enable_barcode = '';
                vm.errors={};
                vm.$refs.barcode.focus();
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('transfer_return/store',vm.transfer_return)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Transfer Return successfully created","success"),
                    vm.$router.push('/transfer_return/display')
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('transfer_return/update',vm.transfer_return)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Transfer Return successfully updated","success"),
                    vm.$router.push(`/transfer_return/view/${vm.transfer_return.transfer_return_id}`)
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            discard() {
                let vm = this;
                vm.$router.push('/transfer_return/display');
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
            
            // convertTotransfer(data,ref){
            //     let vm = this;
            //     switch(`${ref}`){
            //     case "invoice":
            //         vm.$set(vm.transfer,'reference','InvoiceProduct')
            //         vm.$set(vm.transfer,'reference_id','invoice_product_id')
            //         break;
            //     case "proforma":
            //         vm.$set(vm.transfer,'reference','ProformaProduct')
            //         vm.$set(vm.transfer,'reference_id','proforma_product_id')
            //         break;
            //     default: vm.toast('Error','error');
            //     }
            //     vm.$set(vm.transfer,'transfer_return_products',data),
            //     vm.$set(vm.transfer,'contact_name',data[0][`${ref}`]['customer']['contact_name']),
            //     vm.$set(vm.transfer,'customer_id',data[0][`${ref}`]['customer_id']),
            //     vm.$set(vm.transfer,'source_id',data[0][`${ref}`]['source_id']),
            //     vm.$set(vm.transfer,'destination_id',data[0][`${ref}`]['destination_id']),
            //     vm.getTransferNo();
            // }
        },
    }
    
</script>