<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item">Transfer Return</li>
            <li class="breadcrumb-right">
                <router-link to="/transfer_return/create" class="btn btn-xs btn-primary" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-plus"></i> New Transfer Return
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Transfer Returns</strong>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Transfer Return No</th>
                                            <th>Transfer Return Date</th>
                                            <th>Branch</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right" v-if="preference.discount_on == 'Inc'">Tax</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right" v-if="preference.discount_on == 'Exc'">Tax</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="transfer_return,key in transfer_returns" @click="view(transfer_return)">
                                            <td class="text-center">
                                                {{ pagination.from+key }}
                                            </td>
                                            <td>
                                                {{ transfer_return.transfer_return_no }}
                                            </td>
                                            <td>
                                                {{ transfer_return.transfer_return_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>
                                                {{ transfer_return.branch.branch_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ transfer_return.sub_total.toFixed(2) }}
                                            </td>
                                            <td class="text-right" v-if="preference.discount_on == 'Inc'">
                                                {{ transfer_return.tax_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ transfer_return.discount_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right" v-if="preference.discount_on == 'Exc'">
                                                {{ transfer_return.tax_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ transfer_return.total_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ transfer_return.round_off.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ transfer_return.grand_total.toFixed(2) }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props:['preference','user'],
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                transfer_returns:[],
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus()
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('transfer_return/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.transfer_returns = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            view(transfer_return) {
                let vm = this;
                vm.$router.push(`/transfer_return/view/${transfer_return.transfer_return_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>