<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Transfer</li>
            <li class="breadcrumb-right">
                <router-link to="/transfer/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/transfer/create" class="btn btn-xs btn-primary" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Transferes : 
                                <strong>{{ transfer.transfer_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ transfer.transfer_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="pdf" width="100%" height="500" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default{
        props: ['org','user'],
        data(){
            return{
                transfer:{},
                errors:{},
                pdf:''
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`transfer/view/${to.params.transfer_id}`)
            .then(function (response) {
                next(vm => {
                    vm.transfer = response.data,
                    vm.pdf = "transfer/pdf/" + vm.transfer.transfer_id
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            
            edit() {
                let vm = this;
                vm.$router.push(`/transfer/edit/${vm.transfer.transfer_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`transfer/destroy/${vm.transfer.transfer_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Transfer successfully deleted","success"),
                        vm.$router.push('/transfer/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>