<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Transfer Return</li>
            <li class="breadcrumb-right" v-if="Object.keys(transfer_return).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
               <!--  <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button> -->
                <router-link to="/transfer_return/create" class="btn btn-xs btn-primary" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Transfer Return : 
                                <strong>{{ transfer_return.transfer_return_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ transfer_return.transfer_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1"><b>From:</b></h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >
                                    <div class="col-sm-4" v-if="Object.keys(transfer_return).length>0">
                                        <h6 class="mb-1"><b>Branch:</b></h6>
                                        <div>
                                            <strong>{{ transfer_return.branch.branch_name }}</strong>
                                        </div>
                                        
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1"><b>Details:</b></h6>
                                        <div>
                                            Transfer Return No : <strong>{{ transfer_return.transfer_return_no }}</strong>
                                        </div>
                                        <div>
                                            Transfer Return Date : {{ transfer_return.transfer_return_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">S.Rate(Exc)</th>
                                                    <th class="text-right">S.Rate(Inc)</th>
                                                    <th class="text-right" v-if="preference.discount_on == 'Inc'">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th class="text-right" v-if="preference.discount_on == 'Exc'">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(transfer_return).length>0">
                                                <tr v-for="transfer_return_product, key in transfer_return.transfer_return_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="transfer_return_product.transfer_return_product_status">{{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ transfer_return_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ transfer_return_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_return_product.sales_rate_exc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        transfer_return_product.sales_rate_inc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right" v-if="preference.discount_on == 'Inc'">
                                                        {{ transfer_return_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_return_product.discount.toFixed(2) }} 
                                                        {{ transfer_return_product.discount_type }}
                                                    </td>
                                                    <td class="text-right" v-if="preference.discount_on == 'Exc'">
                                                        {{ transfer_return_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_return_product.quantity.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_return_product.amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ transfer_return.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer_return.sub_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="preference.discount_on == 'Inc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer_return.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer_return.discount_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="preference.discount_on == 'Exc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer_return.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ transfer_return.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer_return.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer_return.round_off.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer_return.grand_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(transfer_return).length>0" :products="transfer_return.transfer_return_products" :taxtype="transfer_return.source_id!=transfer_return.destination_id?'IGST':'GST'" :setting="preference"/>
                            </div>
                            </div>
                            <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard"><i class="fa fa-ban"></i> Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'
    export default{
        components: { Taxable },
        props: ['org','preference','user'],
        data(){
            return{
                convert_status:0,
                transfer_return:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`transfer_return/view/${to.params.transfer_return_id}`)
            .then(function (response) {
                next(vm => {
                    vm.transfer_return = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/transfer_return/preview/${vm.transfer_return.transfer_return_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/transfer_return/edit/${vm.transfer_return.transfer_return_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`transfer_return/destroy/${vm.transfer_return.transfer_return_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("transfer Return Challan successfully deleted","success"),
                        vm.$router.push('/transfer_return/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
            
            discard(){
                let vm = this;
                vm.transfer_return.transfer_return_products.forEach(function(value){
                    vm.$set(value,'transfer_return_product_status',0);
                });
            },
        },
     }
</script>