<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Transfer</li>
            <li class="breadcrumb-right" v-if="Object.keys(transfer).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/transfer/create" class="btn btn-xs btn-primary" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger" v-if="user.user_role == 'Super Admin'">
                    <i class="fa fa-trash"></i>
                </button>
                <!-- <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Transfer : 
                                <strong>{{ transfer.transfer_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ transfer.transfer_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1"><b>From:</b></h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >
                                    <div class="col-sm-4" v-if="Object.keys(transfer).length>0">
                                        <h6 class="mb-1"><b>Branch:</b></h6>
                                        <div>
                                            <strong>{{ transfer.branch.branch_name }}</strong>
                                        </div>
                                        
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1"><b>Details:</b></h6>
                                        <div>
                                            Transfer No : <strong>{{ transfer.transfer_no }}</strong>
                                        </div>
                                        <div>
                                            Transfer Date : {{ transfer.transfer_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">S.Rate(Exc)</th>
                                                    <th class="text-right">S.Rate(Inc)</th>
                                                    <th class="text-right" v-if="preference.discount_on == 'Inc'">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th class="text-right" v-if="preference.discount_on == 'Exc'">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(transfer).length>0">
                                                <tr v-for="transfer_product, key in transfer.transfer_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="transfer_product.transfer_product_status">{{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ transfer_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ transfer_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_product.sales_rate_exc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        transfer_product.sales_rate_inc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right" v-if="preference.discount_on == 'Inc'">
                                                        {{ transfer_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_product.discount.toFixed(2) }} 
                                                        {{ transfer_product.discount_type }}
                                                    </td>
                                                    <td class="text-right" v-if="preference.discount_on == 'Exc'">
                                                        {{ transfer_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_product.quantity.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ transfer_product.amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ transfer.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer.sub_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="preference.discount_on == 'Inc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer.discount_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="preference.discount_on == 'Exc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ transfer.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer.round_off.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ transfer.grand_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(transfer).length>0" :products="transfer.transfer_products" :taxtype="transfer.source_id!=transfer.destination_id?'IGST':'GST'" :setting="preference"/>
                            </div>
                            </div>
                            <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard"><i class="fa fa-ban"></i> Discard</button>
                                    <!-- <button class="btn btn-sm btn-success" @click="convertToInvoice">Convert transfer To Invoice</button> -->
                                    <!-- <button class="btn btn-sm btn-success" @click="convertToTransferReturn">Convert transfer To transfer Return</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'
    export default{
        components: { Taxable },
        props: ['org','preference','user'],
        data(){
            return{
                convert_status:0,
                transfer:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`transfer/view/${to.params.transfer_id}`)
            .then(function (response) {
                next(vm => {
                    vm.transfer = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/transfer/preview/${vm.transfer.transfer_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/transfer/edit/${vm.transfer.transfer_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`transfer/destroy/${vm.transfer.transfer_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("transferChallan successfully deleted","success"),
                        vm.$router.push('/transfer/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
            // convert(){
            //     let vm = this;
            //     vm.transfer.transfer_products.forEach(function(value){
            //         vm.$set(value,'transfer_product_status',1);
            //     });
            //     vm.$set(vm.$data,'convert_status',1);
            // },
            // convertToInvoice(){
            //     let vm = this;
            //     let deli_prods = vm.transfer.transfer_products.filter(function(val){
            //         return parseInt(val.transfer_product_status);
            //     }).map(function(val){
            //         return val.transfer_product_id;
            //     });
            //     if(deli_prods.length>0){
            //         this.$router.push({path:'/transfer/convert/invoice/', query: { query: JSON.stringify(deli_prods)}});    
            //     }else{
            //         vm.toast('Error','error')
            //     }
            // }, 
            // convertToTransferReturn(){
            //     let vm = this;
            //     let deli_prods = vm.transfer.transfer_products.filter(function(val){
            //         return parseInt(val.transfer_product_status);
            //     }).map(function(val){
            //         return val.transfer_product_id;
            //     });
            //     if(deli_prods.length>0){
            //         this.$router.push({path:'/transfer/convert/transfer_return/', query: { query: JSON.stringify(deli_prods)}});    
            //     }else{
            //         vm.toast('Error','error')
            //     }
            // }, 
            discard(){
                let vm = this;
                vm.transfer.transfer_products.forEach(function(value){
                    vm.$set(value,'transfer_product_status',0);
                });
                //vm.$set(vm.$data,'convert_status',0);
            },
        },
     }
</script>