<template>
	<b-modal id="contact" :title="'New '+ contact_type" @ok="addContact">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="contact_code">Contact Code *</label>
                    <input class="form-control" type="text" :class="{'is-invalid': errors.contact_code}" v-model="contact.contact_code" placeholder="Contact Code">
                	<div v-if="errors.contact_code" class="invalid-feedback">{{ errors.contact_code[0] }}</div>
            	</div>
           	</div>
            <div v-if="contact.contact_type==null" class="col-sm-6">
                <div class="form-group">
                    <label for="contact_type">Contact Type*</label>
                    <select class="form-control" v-model="contact.contact_type" :class="{'is-invalid': errors.contact_type}">
                        <option value="">Select Contact Type</option>
                        <option value="Customer">Customer</option>
                        <option value="Vendor">Vendor</option>
                    </select>
                    <div v-if="errors.contact_type" class="invalid-feedback">{{ errors.contact_type[0] }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="contact_name">Contact Name *</label>
                    <input class="form-control" :class="{'is-invalid': errors.contact_name}" type="text" v-model="contact.contact_name" placeholder="Contact Name">
                    <div v-if="errors.contact_name" class="invalid-feedback">{{ errors.contact_name[0] }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="mobile_no">Mobile No *</label>
                    <input class="form-control" :class="{'is-invalid': errors.mobile_no}" type="text" v-model="contact.mobile_no" placeholder="Mobile No">
                    <div v-if="errors.mobile_no" class="invalid-feedback">{{errors.mobile_no[0] }}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Email </label>
                    <input class="form-control" type="text" v-model="contact.email" placeholder="Email">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="place_id">Place*</label>
                    <select class="form-control"  v-model="contact.place_id"  >
                        <option value="">Select Places</option>
                        <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="payment_term_id">Payment Terms*</label>
                    <select class="form-control" v-model="contact.payment_term_id">
                        <option value="">Select Payment Term</option>
                        <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="gstin_no">GSTIN No </label>
                    <input class="form-control" type="text" v-model="contact.gstin_no" placeholder="GSTIN No">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="pan_no">PAN No </label>
                    <input class="form-control" type="text" v-model="contact.pan_no" placeholder="PAN No">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="billing_address">Biiling Address</label>
                    <textarea class="form-control" type="text" v-model="contact.billing_address" placeholder="Biiling Address"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="shipping_address">Shipping Address</label>
                    <textarea class="form-control" type="text" v-model="contact.shipping_address"  placeholder="Shipping Address"></textarea>
                </div>
            </div>
            <div class="col-sm-6" v-if="contact_type=='Customer' || module=='income'">
                <div class="form-group">
                    <label for="card_no">Card No</label>
                    <input class="form-control" type="text" v-model="contact.card_no" placeholder="Card No">
                </div>
            </div>
        </div>
    </b-modal>
</template>
<script>
    export default{
    	props:{
    		contact_type: {
                default: null
            },
            module: {
                default: null
            },
    	},
        data(){
            return{
                status: 0,
                contact:{
                    contact_id:'',
                    contact_type:'',
                    contact_code:'',
                    contact_name:'',
                    email:'',
                    mobile_no:'',
                    phone_no:'',
                    pan_no:'',
                    gstin_no:'',
                    billing_address:'',
                    shipping_address:'',
                    payment_term_id:'',
                    place_id:'',
                    date_of_birth:'',
                    wedding_anniversary:'',
                    cord_no:'',
                    contact_type:this.contact_type,
                },
                places:{},
                payment_terms:{},
                errors:{}
            }
        },

        mounted(){
        	let vm = this;
        	vm.getContactCode();
        },

        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.contact={},
                vm.contact.contact_type = "",
                vm.status=0,
                vm.$refs.contact_type.focus(),
                vm.getContactCode()
            },

            getContactCode() {
                let vm = this;
                axios.post('contact/get_contact_code')
                .then(function (response) {
                    vm.contact.contact_code = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data,
                    vm.getPlaces()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPlaces() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.setData()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            setData(){
                let vm = this;
                if(vm.status==0) {
                    vm.contact.payment_term_id = vm.payment_terms[0].payment_term_id,
                    vm.contact.place_id = vm.places[0].place_id
                }
            },

            addContact() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                if (this.module == 'income') {
                    vm.$set(this.contact,'contact_type','Customer');
                }
                if(this.module == 'expense'){
                    vm.$set(this.contact,'contact_type','Vendor');
                }
                axios.post('contact/store',this.contact)
                .then(function (response) {
                	vm.contact = '';
                    vm.$vDialog.close(null, key),
                    vm.toast("Contact is successfully created","success");
                	vm.select(response.data);
                    
                })
                .catch(function(error) {
                    console.log('err',error)
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            select(result) {
                this.$emit('contact', {
                    target: {
                        value: result
                    }
                })
                //this.close()
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>


